<!-- Modal -->
<div class="modal fade" id="modal-poi" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" style="max-width: 890px;">
    <div class="modal-content" style="height: 720px;">
      <div class="modal-body">
        <form method="post" action="index-poi.html" class="needs-validation" novalidate>
        <button type="button" class="btn-close pl-3" data-bs-dismiss="modal" aria-label="Close" style="margin-left: 32px; margin-bottom: 24px; margin-top: 24px;"></button>
        <div class="d-flex bd-highlight toggle" style="padding-left: 0px; margin-left: 32px; margin-right: 32px;">
          <div class="flex-fill bd-highlight" style="font-size: 20px; font-weight: 600;">Detail POI</div>
          <div class="" style="text-align: left; font-size: 12px; font-weight: 500;">
            <label for="switchPOIStatus">POI Status</label>
            <input class="poi-status shadow-none" type="checkbox" id="switchPOIStatus">
          </div>
        </div>
        <div class="row" style="margin-left: 22px; margin-right: 22px; margin-top: 16px;">
          <div class="col">
            <div class="flex-fill bd-highlight" style="margin-bottom: 8px; font-size: 12px; font-weight: 600;">POI Name</div>
            <input type="text" class="form-control border-ops shadow-none poi-form-name" placeholder="Placeholder" aria-label="POI Name" id="poi-name" required style="padding-top: 14px; padding-left: 12px; padding-bottom: 14px; border-radius: 6px;">
            <div class="invalid-feedback">
              *required
            </div>
          </div>
          <div class="col">
            <div class="flex-fill bd-highlight" style="margin-bottom: 8px; font-size: 12px; font-weight: 600;">Category</div>
            <select id="dropdown-search" class="form-control shadow-none dropdown-search selectpicker font-14" required>
            </select>
            <div class="invalid-selectize d-none">
              *required
            </div>
          </div>
        </div>
        <div class="d-flex bd-highlight" style="margin-left: 32px; margin-right: 32px; margin-top: 24px;">
          <div class="flex-fill bd-highlight" style="margin-bottom: 8px; font-size: 12px; font-weight: 600;">Operational Time</div>
          <div class="text-primary" style="text-align: left; font-size: 12px; align-items: center; display: flex;">
            <input class="selectall shadow-none" type="checkbox" id="switchPOIEveryDay" style="border-radius: 4px; border: 1px solid #404040;">
            <label for="switchPOIEveryDay">Setiap Hari</label>
          </div>
        </div>
        <div class="card-group select-day" style="margin-left: 32px; margin-right: 32px; height: 100px;">
          <input type="checkbox" class="btn-check day-select" id="btn-check1" autocomplete="off">
          <label class="btn border-ops-mon opi-mon shadow-none flex-fill rounded-0 selected-day" for="btn-check1" style="border-radius: 6px 0px 0px 6px !important;">
            <div class="circle">Sen</div>
            <div class="d-flex justify-content-center">
              <input type="text" class="card-text text-center time-text" value="00:00 - 23:59" style="margin-top: 7px; font-size: 10px; font-weight: 400; width: 83px; height: 26px; border: none; border-radius: 4px;">
            </div>
          </label>
          <input type="checkbox" class="btn-check day-select" id="btn-check2" autocomplete="off">
          <label class="btn border-ops-tue opi-tue shadow-none flex-fill rounded-0 selected-day" for="btn-check2">
            <div class="circle">Sel</div>
            <div class="d-flex justify-content-center">
              <input type="text" class="card-text text-center time-text" value="00:00 - 23:59" style="margin-top: 7px; font-size: 10px; font-weight: 400; width: 83px; height: 26px; border: none; border-radius: 4px;">
            </div>
          </label>
          <input type="checkbox" class="btn-check day-select" id="btn-check3" autocomplete="off">
          <label class="btn border-ops-wed opi-wed shadow-none flex-fill rounded-0 selected-day" for="btn-check3">
            <div class="circle">Rab</div>
            <div class="d-flex justify-content-center">
              <input type="text" class="card-text text-center time-text" value="00:00 - 23:59" style="margin-top: 7px; font-size: 10px; font-weight: 400; width: 83px; height: 26px; border: none; border-radius: 4px;">
            </div>
          </label>
          <input type="checkbox" class="btn-check day-select" id="btn-check4" autocomplete="off">
          <label class="btn border-ops-thu opi-thu shadow-none flex-fill rounded-0 selected-day" for="btn-check4">
            <div class="circle">Kam</div>
            <div class="d-flex justify-content-center">
              <input type="text" class="card-text text-center time-text" value="00:00 - 23:59" style="margin-top: 7px; font-size: 10px; font-weight: 400; width: 83px; height: 26px; border: none; border-radius: 4px;">
            </div>
          </label>
          <input type="checkbox" class="btn-check day-select" id="btn-check5" autocomplete="off">
          <label class="btn border-ops-fri opi-fri shadow-none flex-fill rounded-0 selected-day" for="btn-check5">
            <div class="circle">Jum</div>
            <div class="d-flex justify-content-center">
              <input type="text" class="card-text text-center time-text" value="00:00 - 23:59" style="margin-top: 7px; font-size: 10px; font-weight: 400; width: 83px; height: 26px; border: none; border-radius: 4px;">
            </div>
          </label>
          <input type="checkbox" class="btn-check day-select" id="btn-check6" autocomplete="off">
          <label class="btn border-ops-sat opi-sat shadow-none flex-fill rounded-0 selected-day" for="btn-check6">
            <div class="circle">Sab</div>
            <div class="d-flex justify-content-center">
              <input type="text" class="card-text text-center time-text" value="00:00 - 23:59" style="margin-top: 7px; font-size: 10px; font-weight: 400; width: 83px; height: 26px; border: none; border-radius: 4px;">
            </div>
          </label>
          <input type="checkbox" class="btn-check day-select" id="btn-check7" autocomplete="off">
          <label class="btn border-ops-sun opi-sun shadow-none flex-fill rounded-0 selected-day" for="btn-check7" style="border-radius: 0px 6px 6px 0px !important;">
            <div class="circle">Min</div>
            <div class="d-flex justify-content-center">
              <input type="text" class="card-text text-center time-text" value="00:00 - 23:59" style="margin-top: 7px; font-size: 10px; font-weight: 400; width: 83px; height: 26px; border: none; border-radius: 4px;">
            </div>
          </label>
        </div>
        <div class="invalid-opstime d-none">
          *required
        </div>
        <div class="row" style="margin-left: 22px; margin-right: 22px; margin-top: 24px;">
          <div class="col-md-4">
            <div class="d-flex bd-highlight">
              <div class="flex-fill bd-highlight" style="font-size: 12px; font-weight: 600; margin-bottom: 8px;">Add Foto</div>
            </div>
            <label for="image-upload" class="card overflow-hidden image-upload" style="width: 232; height: 188px;" id="image-upload-zone">
              <img src="assets/img/misc/dropzone.svg" alt="" id="image-upload-preview" class="img-fluid h-100 border-0 outline-0" style="object-fit: cover;">
            </label>
            <input type="file" id="image-upload" class="d-none">
          </div>
          <div class="col-md-8">
            <div class="mb-2">
              <div class="flex-fill bd-highlight" style="font-size: 12px; font-weight: 600; margin-bottom: 8px;">Description</div>
              <textarea name="description-poi" id="poi-description" class="form-control shadow-none poi-form-description" placeholder="Placeholder" style="resize: none; height: 68px;" required></textarea>
              <div class="invalid-feedback">
                *required
              </div>
            </div>
            <div class="" style="margin-top: 24px;">
              <div class="flex-fill bd-highlight" style="font-size: 12px; font-weight: 600; margin-bottom: 8px;">Address</div>
              <textarea name="description-poi" id="poi-address" class="form-control shadow-none poi-form-address" placeholder="Placeholder" style="resize: none; height: 68px;" required></textarea>
              <div class="invalid-feedback">
                *required
              </div>
            </div>
          </div>
        </div>
        <div class="flex-fill bd-highlight" style="font-size: 20px; font-weight: 600; margin-bottom: 16px; margin-left: 32px; margin-top: 40px;">User Info</div>
        <div class="row" style="margin-left: 22px; margin-right: 22px;">
          <div class="col">
            <div style="font-size: 12px; font-weight: 600; margin-bottom: 8px;">Contact Person</div>
            <input type="text" class="form-control shadow-none poi-form-contact" placeholder="Placeholder" aria-label="Route From" id="poi-contact" required style="padding-top: 14px; padding-left: 12px; padding-bottom: 14px; border-radius: 6px;">
            <div class="invalid-feedback">
              *required
            </div>
          </div>
          <div class="col">
            <div style="font-size: 12px; font-weight: 600; margin-bottom: 8px;">Phone</div>
            <input type="text" class="form-control shadow-none poi-form-phone" placeholder="Placeholder" aria-label="Rute To" id="poi-phone" required style="padding-top: 14px; padding-left: 12px; padding-bottom: 14px; border-radius: 6px;">
            <div class="invalid-feedback">
              *required
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn poi-submit" type="submit" style="background-color: #C2C2C2; color: white;">Simpan Data</button>
      </div>
    </form>
    </div>
  </div>
</div>

<!-- Modal Geofence -->

<div class="modal fade" id="modal-geofence" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-xl modal-dialog-scrollable" style="max-width: 876px;">
    <div class="modal-content" style="height: 720px;">
      <div class="modal-body">
        <form action="" class="needs-validation" novalidate>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="margin-top: 24px; margin-left: 32px; margin-bottom: 24px;"></button>
        <div class="d-flex bd-highlight toggle" style="padding-left: 0px; margin-left: 32px; margin-right: 32px;">
          <div class="flex-fill bd-highlight" style="font-size: 20px; font-weight: 600;">Detail Geofence</div>
          <div class="" style="text-align: left; font-size: 12px; font-weight: 500;">
            <label for="switchGeofenceStatus">Geofence Status</label>
            <input class="geo-status shadow-none" type="checkbox" id="switchGeofenceStatus">
          </div>
        </div>
        <div class="row" style="margin-left: 22px; margin-right: 22px; margin-top: 16px;">
          <div class="col">
            <div style="font-size: 12px; font-weight: 600; margin-bottom: 8px;">Geofence Name</div>
            <input type="text" class="form-control border-ops shadow-none geo-form-name" placeholder="Placeholder" aria-label="Geofence name" id="poi-name" required style="padding-top: 14px; padding-left: 12px; padding-bottom: 14px; border-radius: 6px;">
            <div class="invalid-feedback">
              *required
            </div>
          </div>
          <div class="col">
            <div style="font-size: 12px; font-weight: 600; margin-bottom: 8px;">Type</div>
            <!-- <select class="shadow-none dropdown-search" required>
              <option></option>
              <option value="1">Alert On Exiting</option>
              <option value="2">Alert On Entering</option>
            </select> -->
            <div class="select-box">
              <div class="select-box__current select-box__current-valid h-100" tabindex="1" >
                <div class="select-box__value">
                  <input class="select-box__input" type="radio" id="0" value="0" name="Ben" checked/>
                  <p class="select-box__input-text font-12" style="color: #757575; padding-top: 14px; padding-left: 12px; padding-bottom: 14px; border-radius: 6px;">Placeholder</p>
                </div>
                <div class="select-box__value">
                  <input class="select-box__input" type="radio" id="1" value="1" name="Ben"/>
                  <p class="select-box__input-text" style="padding-top: 14px; padding-left: 12px; padding-bottom: 14px; border-radius: 6px;">Alert On Exiting</p>
                </div>
                <div class="select-box__value">
                  <input class="select-box__input" type="radio" id="2" value="2" name="Ben"/>
                  <p class="select-box__input-text" style="padding-top: 14px; padding-left: 12px; padding-bottom: 14px; border-radius: 6px;">Alert On Entering</p>
                </div>
              </div>
              <ul class="select-box__list">
                <li>
                  <label class="select-box__option" for="1" aria-hidden="aria-hidden">Alert On Exiting</label>
                </li>
                <li>
                  <label class="select-box__option" for="2" aria-hidden="aria-hidden">Alert On Entering</label>
                </li>
              </ul>
            </div>
            <div class="invalid-select-box-geo d-none">
              *required
            </div>
          </div>
        </div>
        <div class="d-flex bd-highlight" style="margin-left: 32px; margin-right: 32px; margin-top: 24px;">
          <div class="flex-fill" style="margin-bottom: 8px; font-size: 12px; font-weight: 600;">Operational Time</div>
          <div class="text-primary" style="text-align: left; font-size: 12px; margin-bottom: 8px; align-items: center; display: flex;">
            <input class="selectall2 shadow-none" type="checkbox" id="switchGeofenceEveryDay" style="border-radius: 4px; border: 1px solid #404040;">
            <label for="switchGeofenceEveryDay">Setiap Hari</label>
          </div>
        </div>
        <div class="card-group select-day2" style="margin-left: 32px; margin-right: 32px; height: 100px;">
          <input type="checkbox" class="btn-check day-select-2" id="btn-check8" autocomplete="off">
          <label class="btn geo-mon border-ops-mon shadow-none flex-fill rounded-0 selected-day" for="btn-check8" style="border-radius: 6px 0px 0px 6px !important;">
            <div class="circle">Sen</div>
            <div class="d-flex justify-content-center">
              <input type="text" class="card-text text-center time-text" value="00:00 - 23:59" style="margin-top: 7px; font-size: 10px; font-weight: 400; width: 83px; height: 26px; border: none; border-radius: 4px;">
            </div>
          </label>
          <input type="checkbox" class="btn-check day-select-2" id="btn-check9" autocomplete="off">
          <label class="btn geo-tue border-ops-tue shadow-none flex-fill rounded-0 selected-day" for="btn-check9">
            <div class="circle">Sel</div>
            <div class="d-flex justify-content-center">
              <input type="text" class="card-text text-center time-text" value="00:00 - 23:59" style="margin-top: 7px; font-size: 10px; font-weight: 400; width: 83px; height: 26px; border: none; border-radius: 4px;">
            </div>
          </label>
          <input type="checkbox" class="btn-check day-select-2" id="btn-check10" autocomplete="off">
          <label class="btn geo-wed border-ops-wed shadow-none flex-fill rounded-0 selected-day" for="btn-check10">
            <div class="circle">Rab</div>
            <div class="d-flex justify-content-center">
              <input type="text" class="card-text text-center time-text" value="00:00 - 23:59" style="margin-top: 7px; font-size: 10px; font-weight: 400; width: 83px; height: 26px; border: none; border-radius: 4px;">
            </div>
          </label>
          <input type="checkbox" class="btn-check day-select-2" id="btn-check11" autocomplete="off">
          <label class="btn geo-thu border-ops-thu shadow-none flex-fill rounded-0 selected-day" for="btn-check11">
            <div class="circle">Kam</div>
            <div class="d-flex justify-content-center">
              <input type="text" class="card-text text-center time-text" value="00:00 - 23:59" style="margin-top: 7px; font-size: 10px; font-weight: 400; width: 83px; height: 26px; border: none; border-radius: 4px;">
            </div>
          </label>
          <input type="checkbox" class="btn-check day-select-2" id="btn-check12" autocomplete="off">
          <label class="btn geo-fri border-ops-fri shadow-none flex-fill rounded-0 selected-day" for="btn-check12">
            <div class="circle">Jum</div>
            <div class="d-flex justify-content-center">
              <input type="text" class="card-text text-center time-text" value="00:00 - 23:59" style="margin-top: 7px; font-size: 10px; font-weight: 400; width: 83px; height: 26px; border: none; border-radius: 4px;">
            </div>
          </label>
          <input type="checkbox" class="btn-check day-select-2" id="btn-check13" autocomplete="off">
          <label class="btn geo-sat border-ops-sat shadow-none flex-fill rounded-0 selected-day" for="btn-check13">
            <div class="circle">Sab</div>
            <div class="d-flex justify-content-center">
              <input type="text" class="card-text text-center time-text" value="00:00 - 23:59" style="margin-top: 7px; font-size: 10px; font-weight: 400; width: 83px; height: 26px; border: none; border-radius: 4px;">
            </div>
          </label>
          <input type="checkbox" class="btn-check day-select-2" id="btn-check14" autocomplete="off">
          <label class="btn geo-sun border-ops-sun shadow-none flex-fill rounded-0 selected-day" for="btn-check14" style="border-radius: 0px 6px 6px 0px !important;">
            <div class="circle">Min</div>
            <div class="d-flex justify-content-center">
              <input type="text" class="card-text text-center time-text" value="00:00 - 23:59" style="margin-top: 7px; font-size: 10px; font-weight: 400; width: 83px; height: 26px; border: none; border-radius: 4px;">
            </div>
          </label>
        </div>
        <div class="invalid-opstime-geo d-none">
          *required
        </div>
        <div class="flex-fill bd-highlight" style="font-size: 20px; margin-top: 20px; margin-left: 32px; font-weight: 600; margin-bottom: 16px;">Assigned info</div>
        <div class="row">
          <div class="col" style="margin-left: 32px;">
            <div class="flex-fill bd-highlight font-12" style="margin-bottom: 8px; font-weight: 600;">Assigned Vehicles</div>
            <input type="text" class="form-control shadow-none geo-form-vehicle" placeholder="Placeholder" aria-label="assigned Vehicle" id="geofence-vehicle" required style="width: 379px; padding-top: 14px; padding-left: 12px; padding-bottom: 14px; font-weight: 400;">
            <div class="invalid-feedback">
              *required
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn geofence-submit" style="background-color: #C2C2C2; color: white;">Simpan Data</button>
      </div>
    </form>
    </div>
  </div>
</div>


<!-- Modal Routes -->
<div class="modal fade" id="modal-route" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl" style="max-width: 876px;">
    <div class="modal-content" style="height: 640px;">
      <div class="modal-body">
        <form action="" class="needs-validation" novalidate>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="margin-top: 24px; margin-left: 32px;"></button>
        <div style="font-size: 20px; margin-top: 24px; margin-left: 32px; font-weight: 600;">Detail Routes</div>
        <div class="row" style="margin-left: 22px; margin-right: 22px; margin-top: 16px;">
          <div class="col">
            <div style="font-size: 12px; font-weight: 600; margin-bottom: 8px;">From</div>
            <input type="text" class="form-control shadow-none route-form" placeholder="Placeholder" aria-label="Route From" id="route-from" required style="padding-top: 14px; padding-left: 12px; padding-bottom: 14px; border-radius: 6px;">
            <div class="invalid-feedback">
              *required
            </div>
          </div>
          <div class="col-sm-auto" style="display: flex; justify-content: center; align-items: end; height: 70px;">
            <img src="assets\img\misc\interchange.png" alt="">
          </div>
          <div class="col">
            <div style="font-size: 12px; font-weight: 600; margin-bottom: 8px;">To</div>
            <input type="text" class="form-control shadow-none route-form" placeholder="Placeholder" aria-label="Rute To" id="route-to" required style="padding-top: 14px; padding-left: 12px; padding-bottom: 14px; border-radius: 6px;">
            <div class="invalid-feedback">
              *required
            </div>
          </div>
        </div>
        <div class="route-result d-none" style="margin-left: 32px; margin-right: 32px;">
          <div class="d-flex bd-highlight toggle">
            <div class="p-2 flex-fill bd-highlight " style="font-size: 20px; margin-top: 35px; font-weight: 600;">Directions</div>
            <div class="" style="text-align: left; font-size: 12px; font-weight: 500; margin-top: 50px;">Avoid Tolls<input class="shadow-none avoid-toll" type="checkbox" id="flexSwitchCheckDefault"></div>
          </div>
          <div class="card card-route card-route-1" style="border-radius: 8px 8px 0px 0px; border: 1px solid #C2C2C2;">
            <input type="radio" id="a" name="fav_language" value="a" style="visibility: hidden;">
            <label for="a"><div class="btn shadow-none" style="height: 82px; text-align: left;">
              <div class="row">
                <div class="col-auto" style="padding-right: 0;">
                  <img src="assets\img\misc\point-map.png" alt="">
                </div>
                <div class="col font-12">Via Jl. Benyamin Sueb, RW 10, Kebon Kosong, Kemayoran, Jakarta Pusat, JKT, 10630, Indonesia</div>
              </div>
              <div class="col font-12" style="padding-left: 25px;">237 Km | 40 hrs 20m</div>
            </div></label>
          </div>
          <div class="card rounded-0 card-route card-route-2" style="border: 1px solid #C2C2C2;">
            <input type="radio" id="b" name="fav_language" value="b" style="visibility: hidden;">
            <label for="b"><div class="btn shadow-none" style="height: 82px; text-align: left;">
              <div class="row">
                <div class="col-auto" style="padding-right: 0;">
                  <img src="assets\img\misc\point-map.png" alt="">
                </div>
                <div class="col font-12">Via Jl. Benyamin Sueb, RW 10, Kebon Kosong, Kemayoran, Jakarta Pusat, JKT, 10630, Indonesia</div>
              </div>
              <div class="col font-12" style="padding-left: 25px;">237 Km | 40 hrs 20m</div>
            </div></label>        
          </div>
          <div class="card card-route card-route-3" style="border-radius: 0px 0px 8px 8px; border: 1px solid #C2C2C2;">
            <input type="radio" id="c" name="fav_language" value="c" style="visibility: hidden;">
            <label for="c"><div class="btn shadow-none" style="height: 82px; text-align: left;">
              <div class="row">
                <div class="col-auto" style="padding-right: 0;">
                  <img src="assets\img\misc\point-map.png" alt="">
                </div>
                <div class="col font-12">Via Jl. Benyamin Sueb, RW 10, Kebon Kosong, Kemayoran, Jakarta Pusat, JKT, 10630, Indonesia</div>
              </div>
              <div class="col font-12" style="padding-left: 25px;">237 Km | 40 hrs 20m</div>
            </div></label>
          </div>
          <div class="row">
            <div class="col" style="margin-top: 42px;">
              <div class="row">
                <div class="col">
                  <div class="flex-fill bd-highlight" style="font-size: 20px; font-weight: 600;">Title</div>
                  <div class="row">
                    <div class="col-md-6">
                      <div style="font-size: 12px; font-weight: 600; margin-bottom: 8px; margin-top: 12px;">Radius Perjalanan</div>
                      <div class="search">
                        <input type="text" class="form-control route-form" placeholder="Placeholder" required>
                        <div class="invalid-feedback">
                          *required
                        </div>
                        <select id="sel" class="form-select disabled border-0">
                          <option value="" selected hidden>meters</option>
                          <option value="m2">m2</option>
                          <option value="ha">Ha</option>
                        </select>
                        <span id="hidnSpan" style="display: none;"></span>
                        <!-- <div class="select-meters">
                          <div class="select-meters__current select-meters__current-valid h-100" tabindex="1" >
                            <div class="select-meters__value">
                              <input class="select-meters__input" type="radio" id="3" value="0" name="Ben" checked/>
                              <p class="select-meters__input-text font-14" style="color: #757575; padding-top: 14px; padding-left: 12px; padding-bottom: 14px; border-radius: 6px;">Placeholder</p>
                            </div>
                            <div class="select-meters__value">
                              <input class="select-meters__input" type="radio" id="4" value="4" name="Ben"/>
                              <p class="select-meters__input-text" style="padding-top: 14px; padding-left: 12px; padding-bottom: 14px; border-radius: 6px;">Alert On Exiting</p>
                            </div>
                            <div class="select-meters__value">
                              <input class="select-meters__input" type="radio" id="5" value="5" name="Ben"/>
                              <p class="select-meters__input-text" style="padding-top: 14px; padding-left: 12px; padding-bottom: 14px; border-radius: 6px;">Alert On Entering</p>
                            </div>
                          </div>
                          <ul class="select-meters__list">
                            <li>
                              <label class="select-meters__option" for="4" aria-hidden="aria-hidden">Alert On Exiting</label>
                            </li>
                            <li>
                              <label class="select-meters__option" for="5" aria-hidden="aria-hidden">Alert On Entering</label>
                            </li>
                          </ul>
                        </div> -->
                      </div>
                    </div>
                    <div class="col">
                      <div style="font-size: 12px; font-weight: 600; margin-bottom: 8px; margin-top: 12px;">Warna Radius</div>
                      <div class="custom-radios">
                        <div>
                          <input type="radio" id="color-1" name="color" value="color-1">
                          <label for="color-1">
                            <span>
                              <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/242518/check-icn.svg" alt="Checked Icon" />
                            </span>
                          </label>
                        </div>
                        
                        <div>
                          <input type="radio" id="color-2" name="color" value="color-2">
                          <label for="color-2">
                            <span>
                              <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/242518/check-icn.svg" alt="Checked Icon" />
                            </span>
                          </label>
                        </div>
                        
                        <div>
                          <input type="radio" id="color-3" name="color" value="color-3">
                          <label for="color-3">
                            <span>
                              <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/242518/check-icn.svg" alt="Checked Icon" />
                            </span>
                          </label>
                        </div>
                      
                        <div>
                          <input type="radio" id="color-4" name="color" value="color-4">
                          <label for="color-4">
                            <span>
                              <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/242518/check-icn.svg" alt="Checked Icon" />
                            </span>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer p-absolute left-0 bottom-0 bg-white w-100">
        <button class="btn route-submit" style="background-color: #C2C2C2; color: white;">Simpan Data</button>
      </div>
    </form>
    </div>
  </div>
</div>