.breadcrumb-item {
  &.active {
    color: #272727;
  }
  a {
    text-decoration: none;
    color: #6c757d;
  }
}
.breadcrumb-item + .breadcrumb-item::before {
  content: "\f054";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  font-size: 10px;
  transform: translate(0, 6px);
}

button {
  &.form-mod {
    color: #6c757d !important;
    font-size: 16px;
  }
}

.input-group {
  span {
    background-color: transparent;
    border-right: none;
    color: #6c757d;
  }
  input.form-mod {
    border-left: 0 !important;
  }
}

.rounded-pill_mod {
  &.bg-primary {
    background-color: rgba(0, 123, 255, .25) !important;
    color: #007bff;
    font-weight: bold;
  }
  &.bg-secondary {
    background-color: rgba(0, 0, 0, .15) !important;
    color: #272727;
    font-weight: bold;
  }
  &.bg-success {
    background-color: rgba(3, 146, 3, 0.25) !important;
    color: #14802d;
    font-weight: bold;
  }
  &.bg-danger {
    background-color: rgba(255, 0, 0, .25) !important;
    color: #dc3545;
    font-weight: bold;
  }
  &.bg-warning {
    background-color: rgba(255, 255, 0, .25) !important;
    color: #ffc107;
    font-weight: bold;
  }
}

.border-left {
  border-left: 1px solid #dee2e6 !important;
}

.uppercase {
  text-transform: uppercase;
}

.p-relative {
  position: relative;
}

.p-absolute {
  position: absolute;
}