$sizes: 8, 12, 16, 18, 24, 32, 48, 56, 64, 76;
$weight-name: 'light', 'regular', 'medium', 'semi-bold', 'bold', 'extra', 'black';
$weight-value: 100, 300, 400, 500, 600, 700, 800, 900;

@each $size in $sizes {
  .font-#{$size} {
    font-size: #{$size}px;
  }
}

@for $i from 1 through length($weight-name) {
  $weight: nth($weight-value, $i);
  $name: nth($weight-name, $i);
  .font-#{$name} {
    font-weight: #{$weight}
  }
}

@mixin body-default {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue','Inter', sans-serif;
  font-size: 16px;
  color: #272727 !important;
}