@import 'typography';
@import 'mod';

body {
  @include body-default;
}

// @media screen and (max-width: 1366px) and (min-width: 1200px) {
//   html {
//     zoom: .95;
//   }
// }

// @media screen and (max-width: 1199px) {
//   html {
//     zoom: .75;
//   }
// }

.main-section {
  height: calc(100vh - 72px);
  margin-top: 72px;
  .bottom-info {
    transition: .25s ease-in-out;
    button.bottom-info-collapse-btn {
      top: -1rem; right: 1rem; transform: scale(1.5);
      img {
        transform: rotate(270deg);
      }
    }
    .bottom-info-collapsed-badge {
      opacity: 0;
      transition: .25s ease-in-out;
    }
    &.collapsed {
      transform: translateY(calc(100% + 1rem));
      button.bottom-info-collapse-btn {
        top: -7rem; right: 1rem; transform: scale(1.5);
        img {
          transform: rotate(90deg);
        }
      }
      .bottom-info-collapsed-badge {
        right: 0;
        top: -3.5rem;
        border-radius: 10px 10px 0 0 ;
        opacity: 1;
        transition: .25s ease-in-out;
      }
    }
  }
  .sidebar {
    transition: .25s ease-in-out;
    height: calc(100vh - 72px);
    button.sidebar-collapse-btn {
      top: 2rem; right: -1rem; transform: scale(1.5);
    }
    .sidebar-collapsed-badge {
      opacity: 0;
      transition: .25s ease-in-out;
      transform: rotate(270deg);
    }
    &.collapsed {
      transform: translateX(calc(-100%));
      button.sidebar-collapse-btn {
        top: 2rem; right: -7.5rem; transform: scale(1.5) rotate(180deg);
      }
      .sidebar-collapsed-badge {
        right: -6.5rem;
        top: 2.15rem;
        border-radius: 0 0 10px 10px;
        opacity: 1;
        transition: .25s ease-in-out;
      }
    }
    .car-lists {
      height: 360px;
    }
  }
  .floating-content-inner  {
    border-radius: 8px;
    .floating-content-inner_header {
      padding: 2rem;
    }
    .floating-content-inner_nav-pills {
      li {
        width: 50%;
        button {
          font-size: 1.2rem;
          font-weight: 500;
          color: #d3d3d3 !important;
          border-radius: 0;
          width: 100%;
          border-bottom: 2px solid #d3d3d3;
          padding: 1rem;
          &:hover {
            color: #272727;
          }
          &.active {
            background-color: transparent;
            border-bottom: 2px solid #007bff;
            color: #272727 !important;
            i {
              color: #007bff;
            }
          }
        }
      }
    }
    .floating-content-inner_tab-content {
      padding: 2rem;
    }
  }
  
  .floating-content-wrapper_right {
    .floating-content-inner-wrapper_right-item:nth-child(1){
      flex: 1;
      border-radius: 10px;
    }
    .floating-content-inner-wrapper_right-item:nth-child(2){
      flex: 2;
      border-radius: 10px;
    }
  }
  
  .floating-content-inner_journey-card {
    table tr td {
      padding: 0 0 .75rem 0;
    }
  }
  
  .vehicle-search-filter_wrapper {
    ul.dropdown-menu {
      padding: 0;
      li .form-check{
        padding: .5rem .75rem;
        label {
          margin-left: .5rem;
        }
        .form-check-input {
          margin-left: 0 !important;
        }
      }
    }
  }
}