.font-6 {
  font-size: 6px;
}

.font-10 {
  font-size: 10px;
}

.font-14 {
  font-size: 14px;
}

.font-16 {
  font-size: 16px;
}

.font-22 {
  font-size: 22px;
}

.font-26 {
  font-size: 26px;
}

.font-30 {
  font-size: 30px;
}

.font-54 {
  font-size: 54px;
}

.font-62 {
  font-size: 62px;
}

.font-76 {
  font-size: 76px;
}

.font-light {
  font-weight: 100;
}

.font-regular {
  font-weight: 300;
}

.font-medium {
  font-weight: 400;
}

.font-semi-bold {
  font-weight: 500;
}

.font-bold {
  font-weight: 600;
}

.font-extra {
  font-weight: 700;
}

.font-black {
  font-weight: 800;
}

.breadcrumb-item.active {
  color: #272727;
}

.breadcrumb-item a {
  text-decoration: none;
  color: #6c757d;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: "\f054";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  font-size: 10px;
  -webkit-transform: translate(0, 6px);
          transform: translate(0, 6px);
}

button.form-mod {
  color: #6c757d !important;
  font-size: 16px;
}

.input-group span {
  background-color: transparent;
  border-right: none;
  color: #6c757d;
}

.input-group input.form-mod {
  border-left: 0 !important;
}

.rounded-pill_mod.bg-primary {
  background-color: rgba(0, 123, 255, 0.25) !important;
  color: #007bff;
  font-weight: bold;
}

.rounded-pill_mod.bg-secondary {
  background-color: rgba(0, 0, 0, 0.15) !important;
  color: #272727;
  font-weight: bold;
}

.rounded-pill_mod.bg-success {
  background-color: rgba(3, 146, 3, 0.25) !important;
  color: #14802d;
  font-weight: bold;
}

.rounded-pill_mod.bg-danger {
  background-color: rgba(255, 0, 0, 0.25) !important;
  color: #dc3545;
  font-weight: bold;
}

.rounded-pill_mod.bg-warning {
  background-color: rgba(255, 255, 0, 0.25) !important;
  color: #ffc107;
  font-weight: bold;
}

.border-left {
  border-left: 1px solid #dee2e6 !important;
}

.uppercase {
  text-transform: uppercase;
}

.p-relative {
  position: relative;
}

.p-absolute {
  position: absolute;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue','Inter', sans-serif;
  font-size: 16px;
  color: #272727 !important;
}

/* @media screen and (max-width: 1366px) and (min-width: 1200px) {
  html {
    zoom: .95;
  }
}

@media screen and (max-width: 1199px) {
  html {
    zoom: .75;
  }
} */

.main-section {
  height: calc(100vh - 72px);
  margin-top: 72px;
}

.main-section .bottom-info {
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.main-section .bottom-info button.bottom-info-collapse-btn {
  top: -1rem;
  right: 1rem;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.main-section .bottom-info button.bottom-info-collapse-btn img {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

.main-section .bottom-info .bottom-info-collapsed-badge {
  opacity: 0;
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.main-section .bottom-info.collapsed {
  -webkit-transform: translateY(calc(100% + 1rem));
          transform: translateY(calc(100% + 1rem));
}

.main-section .bottom-info.collapsed button.bottom-info-collapse-btn {
  top: -7rem;
  right: 1rem;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.main-section .bottom-info.collapsed button.bottom-info-collapse-btn img {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.main-section .bottom-info.collapsed .bottom-info-collapsed-badge {
  right: 0;
  top: -3.5rem;
  border-radius: 10px 10px 0 0;
  opacity: 1;
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.main-section .sidebar {
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
  height: calc(100vh - 72px);
}

.main-section .sidebar button.sidebar-collapse-btn {
  top: 2rem;
  right: -1rem;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.main-section .sidebar .sidebar-collapsed-badge {
  opacity: 0;
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

.main-section .sidebar.collapsed {
  -webkit-transform: translateX(calc(-100%));
          transform: translateX(calc(-100%));
}

.main-section .sidebar.collapsed button.sidebar-collapse-btn {
  top: 2rem;
  right: -7.5rem;
  -webkit-transform: scale(1.5) rotate(180deg);
          transform: scale(1.5) rotate(180deg);
}

.main-section .sidebar.collapsed .sidebar-collapsed-badge {
  right: -6.5rem;
  top: 2.15rem;
  border-radius: 0 0 10px 10px;
  opacity: 1;
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.main-section .sidebar .car-lists {
  height: 360px;
}

.main-section .floating-content-inner {
  border-radius: 8px;
}

.main-section .floating-content-inner .floating-content-inner_header {
  padding: 2rem;
}

.main-section .floating-content-inner .floating-content-inner_nav-pills li {
  width: 50%;
}

.main-section .floating-content-inner .floating-content-inner_nav-pills li button {
  font-size: 1.2rem;
  font-weight: 500;
  color: #d3d3d3 !important;
  border-radius: 0;
  width: 100%;
  border-bottom: 2px solid #d3d3d3;
  padding: 1rem;
}

.main-section .floating-content-inner .floating-content-inner_nav-pills li button:hover {
  color: #272727;
}

.main-section .floating-content-inner .floating-content-inner_nav-pills li button.active {
  background-color: transparent;
  border-bottom: 2px solid #007bff;
  color: #272727 !important;
}

.main-section .floating-content-inner .floating-content-inner_nav-pills li button.active i {
  color: #007bff;
}

.main-section .floating-content-inner .floating-content-inner_tab-content {
  padding: 2rem;
}

.main-section .floating-content-wrapper_right .floating-content-inner-wrapper_right-item:nth-child(1) {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-radius: 10px;
}

.main-section .floating-content-wrapper_right .floating-content-inner-wrapper_right-item:nth-child(2) {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  border-radius: 10px;
}

.main-section .floating-content-inner_journey-card table tr td {
  padding: 0 0 .75rem 0;
}

.main-section .vehicle-search-filter_wrapper ul.dropdown-menu {
  padding: 0;
}

.main-section .vehicle-search-filter_wrapper ul.dropdown-menu li .form-check {
  padding: .5rem .75rem;
}

.main-section .vehicle-search-filter_wrapper ul.dropdown-menu li .form-check label {
  margin-left: .5rem;
}

.main-section .vehicle-search-filter_wrapper ul.dropdown-menu li .form-check .form-check-input {
  margin-left: 0 !important;
}
/*# sourceMappingURL=app.css.map */