.border-left-0 {
  border-left: 0;
}
.border-right-0 {
  border-right: 0;
}
.border-top-0 {
  border-top: 0;
}
.border-bottom-0 {
  border-bottom: 0;
}
.p-relative {
  position: relative;
}
.p-absolute {
  position: absolute;
}
.rotate-90 {
  transform: rotate(90deg);
}
.rotate-180 {
  transform: rotate(180deg);
}
.rotate-270 {
  transform: rotate(270deg);
}
.rotate-360 {
  transform: rotate(360deg);
}
.breadcrumb-item {
  &.active {
    color: #272727;
  }
  a {
    text-decoration: none;
    color: #6c757d;
  }
}
.breadcrumb-item + .breadcrumb-item::before {
  content: "\f054";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  font-size: 10px;
  transform: translate(0, 6px);
  // @media screen and (max-width: 1200px) {
  //   font-size: 6px;
  //   transform: translate(0, 4px);
  // }
}

input::-webkit-calendar-picker-indicator{
  display: none;
}

.nav {
  &.nav-pills {
    .nav-item {
      .nav-link {
        &.active {
          i {
            color: #007bff;
          }
          color: #272727 !important;
        }
      }
    }
  }
}

.bg-warning-dimmed {
  background-color: #ffc10725
}

.p-16 {
  padding: 16px !important;
}

.bg-success-dimmed {
  background-color: #28a74525
}

.maps-tooltip {
  &> .tooltip-inner {
    background-color: #fff !important;
    color: #000;
  }
  &> .tooltip-arrow {
    display: none !important;
  }
}

.selectize-dropdown {
  border: none !important;
  box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.1) !important;
  .selectize-dropdown-content {
    padding: 0 !important;
    .option {
      padding: 4px 16px;
    }
  }
}