.bottom-info {
  // @media screen and (min-height: 700px) {
  //   display: flex;
  //   flex-direction: column;
  // }
  .bottom-info-nav-tab {
    padding: 8px 16px 0 16px;
    border-bottom: 2px solid #d3d3d3;
    .nav-item {
      .nav-link {
        transform: translateY(2px);
        border-radius: 0;
        background-color: transparent;
        border-bottom: 2px solid transparent;
        color: #d3d3d3;
        padding-bottom: 8px;
        padding-top: 0px;
        filter: grayscale(1);
        &.active {
          border-bottom: 2px solid #007bff;
          filter: grayscale(0);
        }
      }
    }
  }
}

#measurement-table_wrapper {
  .measurement-content {
    overflow-y: auto;
    // @media screen and (min-height: 700px) {
    //   overflow-y: hidden;
    // }
  }
  &> div:nth-child(1) {
    flex-direction: row-reverse;
    align-items: center;
    margin-bottom: 16px;
    #measurement-table_filter {
      text-align: left;
      label {
        width: 75%;
        input {
          width: 100%;
          border: 1px solid #C2C2C2 !important;
          padding: 0px 4px;
          border-radius: 4px !important;
          &:focus {
            border: 1px solid #404040 !important;
          }
        }
      }
    }
  }
}