@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

$sizes: 2, 4, 6, 8, 12, 14, 16, 22, 24, 26, 30, 46, 54, 62, 70, 94;
$weight-name: 'light', 'regular', 'medium', 'semi-bold', 'bold', 'extra', 'black';
$weight-value: 100, 300, 400, 500, 600, 700, 800, 900;
$screen-width: 660, 768, 992, 1200;
$screen-name: 'sm', 'md', 'lg', 'xl';

@each $size in $sizes {
  .font-#{$size} {
    font-size: #{$size}px;
  }
}

@for $i from 1 through length($screen-width) {
  $col-size: nth($screen-width, $i);
  $col-name: nth($screen-name, $i);  
  // @media screen and (max-width: #{$col-size}px) {
  //   @each $size in $sizes {
  //     .font-#{$col-name}-#{$size} {
  //       font-size: #{$size}px;
  //     }
  //   }
  // }
}

@for $i from 1 through length($weight-name) {
  $weight: nth($weight-value, $i);
  $name: nth($weight-name, $i);
  .font-#{$name} {
    font-weight: #{$weight}
  }
}

@mixin body-default {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue','Inter', sans-serif;
  font-size: 14px;
  color: #272727 !important;
}