@import 'typography';
@import 'additional';

// Page
@import 'index-journey';

body {
  @include body-default;
}

.navbar {
  padding: 0 !important;
}

#monitoring-section {
  height    : calc(100vh - 56px);
  margin-top: 56px;
  overflow-y: hidden;

  .monitoring-wrapper-parent {
    display: flex;
    height : 100%;

    .monitoring-sidebar-button-collapse {
      visibility: visible;
      right     : -16px;
      top       : 32px;
      transform : scale(1.25);
      z-index   : 2;
      transition: .25s ease-in-out;

      &.active {
        visibility: hidden;
        transform: rotate(180deg) scale(1.25);
        right    : -58px;
      }
    }

    .monitoring-sidebar-sticky-badge {
      transform    : rotate(-90deg) translate(calc(-27% - 16px), -210%);
      border-radius: 0 0 10px 10px;
      transition   : .25s ease-in-out;

      .chevron-icon{
        transform    : rotate(90deg);
        width: 24px;
      }
      &.active {
        transform: rotate(-90deg) translate(calc(-27% - 16px), -55%);
      }
    }

    .monitoring-sidebar {
      padding      : 8px;
      padding-right: 0;
      transition   : all .3s ease-in-out;

      &.minimize {
        transform: translateX(-100%);
      }

      .sidebar-wrapper {
        height          : 100%;
        border-radius   : 8px;
        background-color: #ffffff;
        overflow        : hidden;

        .sidebar-header {
          padding                        : 16px;
          // @media screen and (max-width: 768px) {
          //   padding: 4px;
          // }
        }

        .sidebar-tab {
          height        : calc(88% - 24px);
          display       : flex;
          flex-direction: column;

          .sidebar-tab-content {
            height    : 100%;
            overflow-y: hidden;

            .sidebar-tab-item {
              &.active {
                display       : flex;
                flex-direction: column;
                height        : 100%;
                overflow      : hidden;
              }

              .sidebar-tab-item-content {
                flex            : 0 1 auto;
                display         : flex;
                flex-direction  : column;
                overflow-y      : scroll;
                // margin-bottom: 24px;
              }
            }
          }

          .sidebar-tab-button {
            border-bottom: 2px solid #eaeaea;

            li {
              margin-bottom: -2px;
            }

            button {
              border-radius        : 0;
              background           : transparent;
              color                : #d3d3d3;
              padding              : 8px;
              background-repeat    : no-repeat;
              background-position  : center;
              background-position-x: 46px;

              &.active {
                border-bottom: 2px solid #007bff;
              }
            }
          }

          .dropdown-menu {
            width: 200px;

            li:not(:last-child) {
              padding: 0px 8px;
            }
          }
        }
      }
    }

    .monitoring-right-content {
      display       : flex;
      flex-direction: column;
      height        : 100%;
      flex          : 2;

      .monitoring-maps-navigation {
        height         : 52%;
        display        : flex;
        justify-content: flex-end;
        padding        : 8px;

        .maps-navigation-button-wrapper {
          display       : flex;
          flex-wrap     : wrap-reverse;
          flex-direction: column;
          height        : 100%;

          button:not(:last-child) {
            margin-bottom: 16px;
          }
        }
      }

      .monitoring-bottom-info-sticky-badge {
        bottom       : -100%;
        right        : 16px;
        border-radius: 10px 10px 0 0;
        transition   : .25s ease-in-out;
        z-index: 1;

        &.active {
          bottom: 0;
        }
        .chevron-icon{
          transform: rotate(-90deg);
          width: 24px;
        }
      }

      .monitoring-bottom-info {
        height         : 48%;
        padding        : 8px;
        display        : flex;
        justify-content: end;

        .h-bottom-info-tabs {
          height: calc(100% - 103px) !important;
        }

        .bottom-info-button-collapse {
          visibility: visible;
          right     : 32px;
          top       : -10px;
          transform : scale(1.25) rotate(270deg);
          transition: .2s ease-in-out;
          z-index   : 2;

          &.active {
            visibility: hidden;
            transform: rotate(90deg) scale(1.25);
            top      : calc(100% - 112px);
          }
        }

        .bottom-info {
          width        : 100%;
          border-radius: 8px;
          transition   : all .3s ease-in-out;

          &.minimize {
            transform: translateY(calc(100% + 32px));
          }

          .bottom-info-left-content {
            .bottom-info-header {
              border-bottom: 1px solid #d3d3d3;
            }
          }

          .bottom-info-right-content {
            border-left: 1px solid #d3d3d3;

            .google-maps-wrapper {
              border-radius: 8px;
              overflow     : hidden;
            }
          }
        }
      }
    }
  }

  // @media screen and (max-width: 768px) {
  //   margin-top: 59px;
  // }
}

/* Upload preivew */
#image-upload-zone.uploaded {
  position: relative;

  &:hover::before {
    content            : '';
    background-image   : url('../img/misc/dropzone-update.svg');
    width              : 100%;
    height             : 100%;
    background-size    : cover;
    background-position: center;
    background-repeat  : no-repeat;
    position           : absolute;
    top                : 0;
    left               : 0;
  }
}