@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

.font-2 {
  font-size: 2px;
}

.font-4 {
  font-size: 4px;
}

.font-6 {
  font-size: 6px;
}

.font-10 {
  font-size: 10px;
}

.font-12 {
  font-size: 12px;
}

.font-14 {
  font-size: 14px;
}

.font-16 {
  font-size: 16px;
}

.font-22 {
  font-size: 22px;
}

.font-24 {
  font-size: 24px;
}




.font-30 {
  font-size: 30px;
}

.font-46 {
  font-size: 46px;
}

.font-54 {
  font-size: 54px;
}

.font-62 {
  font-size: 62px;
}

.font-70 {
  font-size: 70px;
}

.font-94 {
  font-size: 94px;
}

/* @media screen and (max-width: 660px) {
  .font-sm-4 {
    font-size: 2px;
  }
  .font-sm-6 {
    font-size: 4px;
  }
  .font-sm-8 {
    font-size: 6px;
  }
  .font-sm-12 {
    font-size: 10px;
  }
  .font-sm-14 {
    font-size: 12px;
  }
  .font-sm-16 {
    font-size: 14px;
  }
  .font-sm-18 {
    font-size: 16px;
  }
  .font-sm-24 {
    font-size: 22px;
  }
  .font-sm-32 {
    font-size: 30px;
  }
  .font-sm-26 {
    font-size: 24px;
  }
  .font-sm-48 {
    font-size: 26px;
  }
  .font-sm-56 {
    font-size: 54px;
  }
  .font-sm-64 {
    font-size: 62px;
  }
  .font-sm-72 {
    font-size: 70px;
  }
  .font-sm-96 {
    font-size: 94px;
  }
} */

/* @media screen and (max-width: 768px) {
  .font-md-4 {
    font-size: 2px;
  }
  .font-md-6 {
    font-size: 4px;
  }
  .font-md-8 {
    font-size: 6px;
  }
  .font-md-12 {
    font-size: 10px;
  }
  .font-md-14 {
    font-size: 12px;
  }
  .font-md-16 {
    font-size: 14px;
  }
  .font-md-18 {
    font-size: 16px;
  }
  .font-md-24 {
    font-size: 22px;
  }
  .font-md-32 {
    font-size: 30px;
  }
  .font-md-26 {
    font-size: 24px;
  }
  .font-md-48 {
    font-size: 26px;
  }
  .font-md-56 {
    font-size: 54px;
  }
  .font-md-64 {
    font-size: 62px;
  }
  .font-md-72 {
    font-size: 70px;
  }
  .font-md-96 {
    font-size: 94px;
  }
} */

/* @media screen and (max-width: 992px) {
  .font-lg-4 {
    font-size: 2px;
  }
  .font-lg-6 {
    font-size: 4px;
  }
  .font-lg-8 {
    font-size: 6px;
  }
  .font-lg-12 {
    font-size: 10px;
  }
  .font-lg-14 {
    font-size: 12px;
  }
  .font-lg-16 {
    font-size: 14px;
  }
  .font-lg-18 {
    font-size: 16px;
  }
  .font-lg-24 {
    font-size: 22px;
  }
  .font-lg-32 {
    font-size: 30px;
  }
  .font-lg-26 {
    font-size: 24px;
  }
  .font-lg-48 {
    font-size: 26px;
  }
  .font-lg-56 {
    font-size: 54px;
  }
  .font-lg-64 {
    font-size: 62px;
  }
  .font-lg-72 {
    font-size: 70px;
  }
  .font-lg-96 {
    font-size: 94px;
  }
} */

/* @media screen and (max-width: 1200px) {
  .font-xl-4 {
    font-size: 2px;
  }
  .font-xl-6 {
    font-size: 4px;
  }
  .font-xl-8 {
    font-size: 6px;
  }
  .font-xl-12 {
    font-size: 10px;
  }
  .font-xl-14 {
    font-size: 12px;
  }
  .font-xl-16 {
    font-size: 14px;
  }
  .font-xl-18 {
    font-size: 16px;
  }
  .font-xl-24 {
    font-size: 22px;
  }
  .font-xl-32 {
    font-size: 30px;
  }
  .font-xl-26 {
    font-size: 24px;
  }
  .font-xl-48 {
    font-size: 26px;
  }
  .font-xl-56 {
    font-size: 54px;
  }
  .font-xl-64 {
    font-size: 62px;
  }
  .font-xl-72 {
    font-size: 70px;
  }
  .font-xl-96 {
    font-size: 94px;
  }
} */

.font-light {
  font-weight: 100;
}

.font-regular {
  font-weight: 300;
}

.font-medium {
  font-weight: 400;
}

.font-semi-bold {
  font-weight: 500;
}

.font-bold {
  font-weight: 600;
}

.font-extra {
  font-weight: 700;
}

.font-black {
  font-weight: 800;
}

.border-left-0 {
  border-left: 0;
}

.border-right-0 {
  border-right: 0;
}

.border-top-0 {
  border-top: 0;
}

.border-bottom-0 {
  border-bottom: 0;
}

.p-relative {
  position: relative;
}

.p-absolute {
  position: absolute;
}

.rotate-90 {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.rotate-180 {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.rotate-270 {
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}

.rotate-360 {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.breadcrumb-item.active {
  color: #272727;
}

.breadcrumb-item a {
  text-decoration: none;
  color: #6c757d;
}

.breadcrumb-item+.breadcrumb-item::before {
  content: "\f054";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  font-size: 10px;
  -webkit-transform: translate(0, 6px);
  transform: translate(0, 6px);
}

/* @media screen and (max-width: 1200px) {
  .breadcrumb-item + .breadcrumb-item::before {
    font-size: 6px;
    -webkit-transform: translate(0, 4px);
            transform: translate(0, 4px);
  }
} */

input::-webkit-calendar-picker-indicator {
  display: none;
}

.nav.nav-pills .nav-item .nav-link.active {
  color: #272727 !important;
}

.nav.nav-pills .nav-item .nav-link.active i {
  color: #007bff;
}

.bg-warning-dimmed {
  background-color: #ffc10725;
}

.p-16 {
  padding: 16px !important;
}

.bg-success-dimmed {
  background-color: #28a74525;
}

.maps-tooltip>.tooltip-inner {
  background-color: #fff !important;
  color: #000;
}

.maps-tooltip>.tooltip-arrow {
  display: none !important;
}

.selectize-dropdown {
  border: none !important;
  -webkit-box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.1) !important;
  box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.1) !important;
}

.selectize-dropdown .selectize-dropdown-content {
  padding: 0 !important;
}

.selectize-dropdown .selectize-dropdown-content .option {
  padding: 4px 16px;
}

/* @media screen and (min-height: 700px) {
  .bottom-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
} */

.bottom-info .bottom-info-nav-tab {
  padding: 8px 16px 0 16px;
  border-bottom: 2px solid #d3d3d3;
}

.bottom-info .bottom-info-nav-tab .nav-item .nav-link {
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
  border-radius: 0;
  background-color: transparent;
  border-bottom: 2px solid transparent;
  color: #d3d3d3;
  padding-bottom: 8px;
  padding-top: 0;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

.bottom-info .bottom-info-nav-tab .nav-item .nav-link.active {
  border-bottom: 2px solid #007bff;
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

#measurement-table_wrapper .measurement-content {
  overflow-y: auto;
}

/* @media screen and (min-height: 700px) {
  #measurement-table_wrapper .measurement-content {
    overflow-y: hidden;
  }
} */

#measurement-table_wrapper>div:nth-child(1) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 16px;
}

#measurement-table_wrapper>div:nth-child(1) #measurement-table_filter {
  text-align: left;
}

#measurement-table_wrapper>div:nth-child(1) #measurement-table_filter label {
  width: 75%;
}

#measurement-table_wrapper>div:nth-child(1) #measurement-table_filter label input {
  width: 100%;
  border: 1px solid #C2C2C2 !important;
  padding: 0px 4px;
  border-radius: 4px !important;
}

#measurement-table_wrapper>div:nth-child(1) #measurement-table_filter label input:focus {
  border: 1px solid #404040 !important;
}

body {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', 'Inter', sans-serif;
  font-size: 14px;
  color: #272727 !important;
}

#monitoring-section {
  height: calc(100vh - 56px);
  margin-top: 56px;
  overflow-y: hidden;
}

#monitoring-section .monitoring-wrapper-parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

#monitoring-section .monitoring-wrapper-parent .monitoring-sidebar-button-collapse {
  visibility: visible;
  right: -16px;
  top: 48px;
  -webkit-transform: scale(1.25);
  transform: scale(1.25);
  z-index: 2;
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#monitoring-section .monitoring-wrapper-parent .monitoring-sidebar-button-collapse.active {
  visibility: hidden;
  -webkit-transform: rotate(180deg) scale(1.25);
  transform: rotate(180deg) scale(1.25);
  right: -58px;
}

#monitoring-section .monitoring-wrapper-parent .monitoring-sidebar-sticky-badge {
  -webkit-transform: rotate(-90deg) translate(calc(-27% - 16px), -210%);
  transform: rotate(-90deg) translate(calc(-27% - 16px), -210%);
  border-radius: 0 0 10px 10px;
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
  display: flex;
}

#monitoring-section .monitoring-wrapper-parent .monitoring-sidebar-sticky-badge.active {
  -webkit-transform: rotate(-90deg) translate(calc(-27% - 16px), -55%);
  transform: rotate(-90deg) translate(calc(-27% - 16px), -55%);
}
#monitoring-section .monitoring-wrapper-parent .monitoring-sidebar-sticky-badge .chevron-icon {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  width: 24px;
}

#monitoring-section .monitoring-wrapper-parent .monitoring-sidebar {
  padding: 8px;
  padding-right: 0;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

#monitoring-section .monitoring-wrapper-parent .monitoring-sidebar.minimize {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

#monitoring-section .monitoring-wrapper-parent .monitoring-sidebar .sidebar-wrapper {
  height: 100%;
  border-radius: 8px;
  background-color: #ffffff;
  overflow: hidden;
}

#monitoring-section .monitoring-wrapper-parent .monitoring-sidebar .sidebar-wrapper .sidebar-header {
  padding: 16px;
}

/* @media screen and (max-width: 768px) {
  #monitoring-section .monitoring-wrapper-parent .monitoring-sidebar .sidebar-wrapper .sidebar-header {
    padding: 4px;
  }
} */

#monitoring-section .monitoring-wrapper-parent .monitoring-sidebar .sidebar-wrapper .sidebar-tab {
  height: calc(88% - 24px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

#monitoring-section .monitoring-wrapper-parent .monitoring-sidebar .sidebar-wrapper .sidebar-tab .sidebar-tab-content {
  height: 100%;
  overflow-y: hidden;
}

#monitoring-section .monitoring-wrapper-parent .monitoring-sidebar .sidebar-wrapper .sidebar-tab .sidebar-tab-content .sidebar-tab-item.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

#monitoring-section .monitoring-wrapper-parent .monitoring-sidebar .sidebar-wrapper .sidebar-tab .sidebar-tab-content .sidebar-tab-item .sidebar-tab-item-content {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow-y: scroll;
}

#monitoring-section .monitoring-wrapper-parent .monitoring-sidebar .sidebar-wrapper .sidebar-tab .sidebar-tab-button {
  border-bottom: 2px solid #eaeaea;
}

#monitoring-section .monitoring-wrapper-parent .monitoring-sidebar .sidebar-wrapper .sidebar-tab .sidebar-tab-button li {
  margin-bottom: -2px;
}

#monitoring-section .monitoring-wrapper-parent .monitoring-sidebar .sidebar-wrapper .sidebar-tab .sidebar-tab-button button {
  border-radius: 0;
  background: transparent;
  color: #d3d3d3;
  padding: 8px;
  background-repeat: no-repeat;
  background-position: center;
  background-position-x: 46px;
}

#monitoring-section .monitoring-wrapper-parent .monitoring-sidebar .sidebar-wrapper .sidebar-tab .sidebar-tab-button button.active {
  border-bottom: 2px solid #007bff;
}

#monitoring-section .monitoring-wrapper-parent .monitoring-sidebar .sidebar-wrapper .sidebar-tab .dropdown-menu {
  width: 200px;
}

#monitoring-section .monitoring-wrapper-parent .monitoring-sidebar .sidebar-wrapper .sidebar-tab .dropdown-menu li:not(:last-child) {
  padding: 0px 8px;
}

#monitoring-section .monitoring-wrapper-parent .monitoring-right-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

#monitoring-section .monitoring-wrapper-parent .monitoring-right-content .monitoring-maps-navigation {
  height: 52%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 8px;
}

#monitoring-section .monitoring-wrapper-parent .monitoring-right-content .monitoring-maps-navigation .maps-navigation-button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
}

#monitoring-section .monitoring-wrapper-parent .monitoring-right-content .monitoring-maps-navigation .maps-navigation-button-wrapper button:not(:last-child) {
  margin-bottom: 16px;
}

#monitoring-section .monitoring-wrapper-parent .monitoring-right-content .monitoring-bottom-info-sticky-badge {
  bottom: -100%;
  right: 16px;
  border-radius: 10px 10px 0 0;
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
  z-index: 1;
}

#monitoring-section .monitoring-wrapper-parent .monitoring-right-content .monitoring-bottom-info-sticky-badge.active {
  bottom: 0;
}
#monitoring-section .monitoring-wrapper-parent .monitoring-right-content .monitoring-bottom-info-sticky-badge .chevron-icon {
  transform: rotate(90deg);
  width: 24px;
}

#monitoring-section .monitoring-wrapper-parent .monitoring-right-content .monitoring-bottom-info {
  height: 48%;
  padding: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
}

#monitoring-section .monitoring-wrapper-parent .monitoring-right-content .monitoring-bottom-info .h-bottom-info-tabs {
  height: calc(100% - 103px) !important;
}

#monitoring-section .monitoring-wrapper-parent .monitoring-right-content .monitoring-bottom-info .bottom-info-button-collapse {
  visibility: visible;
  right: 32px;
  top: -10px;
  -webkit-transform: scale(1.25) rotate(270deg);
  transform: scale(1.25) rotate(270deg);
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  z-index: 2;
}

#monitoring-section .monitoring-wrapper-parent .monitoring-right-content .monitoring-bottom-info .bottom-info-button-collapse.active {
  visibility: hidden;
  -webkit-transform: rotate(90deg) scale(1.25);
  transform: rotate(90deg) scale(1.25);
  top: calc(100% - 112px);
}

#monitoring-section .monitoring-wrapper-parent .monitoring-right-content .monitoring-bottom-info .bottom-info {
  width: 100%;
  border-radius: 8px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

#monitoring-section .monitoring-wrapper-parent .monitoring-right-content .monitoring-bottom-info .bottom-info.minimize {
  -webkit-transform: translateY(calc(100% + 32px));
  transform: translateY(calc(100% + 32px));
}

#monitoring-section .monitoring-wrapper-parent .monitoring-right-content .monitoring-bottom-info .bottom-info .bottom-info-left-content .bottom-info-header {
  border-bottom: 1px solid #d3d3d3;
}

#monitoring-section .monitoring-wrapper-parent .monitoring-right-content .monitoring-bottom-info .bottom-info .bottom-info-right-content {
  border-left: 1px solid #d3d3d3;
}

#monitoring-section .monitoring-wrapper-parent .monitoring-right-content .monitoring-bottom-info .bottom-info .bottom-info-right-content .google-maps-wrapper {
  border-radius: 8px;
  overflow: hidden;
}

/* @media screen and (max-width: 768px) {
  #monitoring-section {
    margin-top: 59px;
  }
} */

/* Upload preivew */
#image-upload-zone.uploaded {
  position: relative;
}

#image-upload-zone.uploaded:hover::before {
  content: '';
  background-image: url("../img/misc/dropzone-update.svg");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
}

/*# sourceMappingURL=app.css.map */