.select-box {
  position: relative;
  display: block;
  width: 200px;
  outline: none;
  font-size: 12px;
  font-weight: normal;
}
/* @media (min-width: 768px) {
  .select-box {
    width: 70%;
  }
}
@media (min-width: 992px) {
  .select-box {
    width: 50%;
  }
}
@media (min-width: 1200px) {
  .select-box {
    width: 30%;
  }
} */
.select-box__current {
  position: relative;
  cursor: pointer;
  outline: 1px solid #c2c2c2;
  border-radius: 6px;
}

.select-box__current:hover {
  outline: 1px solid #000000;
}
.select-box__current:focus + .select-box__list {
  opacity: 1;
  -webkit-animation-name: none;
  animation-name: none;
}
.select-box__current:focus + .select-box__list .select-box__option {
  cursor: pointer;
}
.select-box__current:focus .select-box__icon {
  -webkit-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg);
}
.select-box__icon {
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 8px;
  height: 4px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.select-box__value {
  display: -webkit-box;
  display: flex;
}
.select-box__input {
  display: none;
}
.select-box__input:checked + .select-box__input-text {
  display: block;
}
.select-box__input-text {
  display: none;
  margin: 0;
  padding: 6px 8px;
  background-color: #fff;
}
.select-box__list {
  position: absolute;
  width: 100%;
  height: 127px;
  overflow: auto;
  padding: 0;
  list-style: none;
  opacity: 0;
  /* -webkit-animation-name: HideList;
  animation-name: HideList;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: step-start;
  animation-timing-function: step-start; */
  outline: 1px solid #f8f9fa;
  border-radius: 6px;
  z-index: 99 !important;
  filter: drop-shadow(2px 4px 12px rgba(0, 0, 0, 0.1));
  font-size: 12px;
  color: #0a0a0a;
  margin-top: 0px;
}

.select-box__option {
  display: block;
  padding: 7px;
  background-color: #fff;
}
.select-box__option:hover,
.select-box__option:focus {
  color: #0a0a0a;
  background-color: #f5f5f5;
}

@-webkit-keyframes HideList {
  from {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
  to {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
  }
}

@keyframes HideList {
  from {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
  to {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
  }
}
