/* inline css to external */
body{
  background-image: url("../../assets/img/map3.png"); 
  background-size: cover;
}
ul.profile-style{
  right: 2px; 
  left: auto !important;
}
.mt-5{
  margin-top: 5px !important;
}
.pl-35{
  padding-left: 35px;
}
.hr-line{
  width: 24px; 
  border: 1px thin black;
}
.mt8{
  margin-top: -8px;
}

/* fix pixel (perfect pixel)*/
#monitoring-section .monitoring-wrapper-parent .monitoring-sidebar {
  padding-top: 16px;
  padding-left: 16px;
  padding-bottom: 16px;
}

#monitoring-section .monitoring-wrapper-parent .monitoring-sidebar-sticky-badge.active {
  transform: rotate(-90deg) translate(calc(-27% - 24px), -110%);
}

#monitoring-section .monitoring-wrapper-parent .monitoring-sidebar-button-collapse {
  top: 36px;
}

#monitoring-section .monitoring-wrapper-parent .monitoring-sidebar .sidebar-wrapper .sidebar-tab {
  height: calc(88% - 16px);
}

#monitoring-section .monitoring-wrapper-parent .monitoring-sidebar .sidebar-wrapper .sidebar-tab .sidebar-tab-content .sidebar-tab-item.active {
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
  padding-top: 17px;
}

.car-lists {
  overflow-y: scroll;
}

.p-car-list {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 16px;
  padding-right: 16px;
}

.car-item-right {
  padding-left: 16px;
}

.car-item-left {
  padding: 0;
  width: 56px;
}

#monitoring-section .monitoring-wrapper-parent .monitoring-right-content .monitoring-bottom-info {
  padding-left: 16px;
  padding-bottom: 16px;
  padding-right: 16px;
}

#monitoring-section .monitoring-wrapper-parent .monitoring-right-content .monitoring-bottom-info {
  padding-left: 16px;
  padding-bottom: 16px;
  padding-right: 16px;
}

#monitoring-section .monitoring-wrapper-parent .monitoring-right-content .monitoring-bottom-info .bottom-info .bottom-info-left-content .bottom-info-header {
  padding-top: 16px;
  padding-left: 16px;
  padding-bottom: 8px;
}

#monitoring-section .monitoring-wrapper-parent .monitoring-right-content .monitoring-bottom-info .bottom-info .bottom-info-content-center-item {
  width: 220px;
  margin: 0 auto;
}

.pb-8 {
  padding-bottom: 8px;
}

#monitoring-section .monitoring-wrapper-parent .monitoring-right-content .monitoring-bottom-info .bottom-info .bottom-info-right-content {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
  display: block !important;
  margin: 0 auto;
}

.font-26 {
  font-size: 26px;
}

.font-12 {
  font-size: 12px;
}

.form-check-input:checked[type="checkbox"] {
  background-image: url("../../assets/img/misc/checked.png") !important;
  background-size: 8px;
}

.form-check-input:checked {
  background-color: #ffffff;
  border: 1px solid #757575;
  border-radius: 4px;
}

.box-sidebar-item {
  border-radius: 6px;
  box-shadow: 4px 8px 24px rgb(0 0 0 / 10%);
  border: 1px solid #c2c2c2;
}

.padding {
  padding-left: 16px;
  padding-bottom: 16px;
  padding-right: 16px;
  padding-top: 8px;
}

.padding-top {
  padding-top: 16px;
}

div.dataTables_scrollBody {
  max-height: 110px !important;
  height: 110px !important;
}

.sidebar-tab-item-legend-style {
  border-radius: 6px;
  border: 1px solid #c2c2c2;
  padding-top: 6px;
  padding-bottom: 6px;
  /* padding-left: 12px;
  padding-right: 12px; */
}

.font-style {
  font-size: 10px;
  font-weight: 500;
  line-height: 16px;
}

.icon-bottom-create,
.icon-bottom-download {
  width: 13px;
  height: 16px;
  margin-right: 4px;
}

.icon-bottom-create-focus,
.icon-bottom-download-focus {
  width: 13px;
  height: 16px;
  margin-right: 4px;
}

.nav-pills .nav-link {
  border-radius: 132px;
}

button#pills-profile-tab.nav-link.active {
  background-color: rgb(94, 162, 230, 0.1);
  color: #0d6efd !important;
  border: 1px solid #0d6efd !important;
  padding: 6px 8px;
}

button#pills-home-tab.nav-link.active {
  background-color: rgb(94, 162, 230, 0.1);
  color: #0d6efd !important;
  border: 1px solid #0d6efd !important;
  padding: 6px 8px;
}

button#pills-profile-tab.nav-link {
  border-radius: 132px;
  border: 1px solid #86888a;
  color: #86888a;
  padding: 6px 8px;
}

button#pills-home-tab.nav-link {
  border-radius: 132px;
  border: 1px solid #86888a;
  color: #86888a;
  margin-right: 4px;
  padding: 6px 8px;
}

span.badge-on {
  border-radius: 20px;
  background-color: rgb(94, 162, 230, 0.1);
  border: 1px solid #0d6efd !important;
  color: #0d6efd;
  padding: 3px 8px;
  font-size: 10px;
}

/* style filter form */
button#vehicle-search-filter {
  border-radius: 6px;
}

button#vehicle-search-filter:hover {
  border: 1.5px solid #404040;
}

button#vehicle-search-filter.show {
  border: 1.5px solid #404040;
  box-shadow: none;
  display: flex;
  justify-content: center;
}

.w-filter {
  width: 36px;
  height: 36px;
  padding: 10px;
  display: flex;
  justify-content: center;
  margin-left: 12px;
}

#monitoring-section .monitoring-wrapper-parent .monitoring-sidebar .sidebar-wrapper .sidebar-tab .sidebar-tab-button button.fleet {
  /* icon tab fleet */
  background-position-x: 60px;
}

#monitoring-section .monitoring-wrapper-parent .monitoring-sidebar .sidebar-wrapper .sidebar-tab .sidebar-tab-button button.activities {
  /* icon tab activities */
  background-position-x: 43px
}

/* list-item */
.car-item {
  border-bottom: 0.5px solid #c2c2c2;
}

a.text-dark:link {
  text-decoration: none;
}

.car-item:hover {
  background-color: #e5e5e5;
  cursor: pointer;
}

/* scrollbar-y sidebar style */
div.car-lists {
  scrollbar-width: thin;
  scrollbar-color: grey white;
}

div.car-lists::-webkit-scrollbar {
  width: 0px;
  /* width of the entire scrollbar */
}

div.car-lists::-webkit-scrollbar-track {
  background: white;
  /* color of the tracking area */
}

div.car-lists::-webkit-scrollbar-thumb {
  background-color: grey;
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
  /* border: 3px solid orange;  creates padding around scroll thumb */
}

/* avatar width */
.img-avatar {
  width: 56px;
  height: 56px;
}

.car {
  box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.1);
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background-color: white !important;
}

/* dropdown breadcumb */
.dropbtn-nav {
  color: #757575;
  font-size: 14px;
  border: none;
  cursor: pointer;
  background-color: white;
  font-weight: bold;
}

.dropbtn-nav:hover,
.dropbtn-nav:focus {
  background-color: #f5f5f5;
  border-radius: 5px;
}

.dropdown {
  position: absolute;
  display: inline-block;
  z-index: 2;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 326px;
  min-height: 88px;
  overflow: auto;
  box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-top: 2px;
  z-index: 1;
}

.dropdown-content a {
  color: #0a0a0a;
  padding: 4px 8px;
  text-decoration: none;
  display: block;
  font-weight: 500;
  font-size: 12px;
}

.dropdown a:hover {
  background-color: #f5f5f5;
}

.show {
  display: block;
}

.filter-index {
  z-index: 1;
}

/* search form */
/* form {
  display: flex;
  justify-content: center;
  align-items: center;
} */
input[type="text"] {
  font-size: 12px;
}

input[type="search"] {
  border: none;
  background: transparent;
  margin: 0;
  padding: 7px 0px;
  font-size: 12px;
  color: inherit;
  border: 1px solid transparent;
  border-radius: 10px;
  height: 32px;
}

input[type="search"]::placeholder {
  color: #bbb;
}

input[type="search"]:focus {
  box-shadow: 0 0 3px 0 #c2c2c2;
  border: 1.5px solid #404040;
  outline: none;
}

form.nosubmit {
  border: none;
  padding: 0;
  width: 100%;
}

input.nosubmit {
  border: 1px solid #c2c2c2;
  border-radius: 6px;
  width: 100%;
  width: 352px;
  height: 36px;
  padding: 9px 4px 9px 40px;
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: left;
  background-position-x: 10px;
}

input.nosubmit:hover {
  border: 1px solid #404040;
}

/* button map side-left */
.btn-map {
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.1) !important;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background-color: white !important;
}

.btn-zoom {
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.1) !important;
  width: 32px;
  height: 90px;
  background-color: white !important;
  border-radius: 4px;
  margin-right: 4px;
}

.btn-zoom-list {
  background-color: white;
  border: none;
}

#monitoring-section .monitoring-wrapper-parent .monitoring-right-content .monitoring-maps-navigation {
  height: 100%;
  padding-top: 16px;
  padding-right: 16px;
}

#monitoring-section .monitoring-wrapper-parent .monitoring-right-content .monitoring-maps-navigation .maps-navigation-button-wrapper button:not(:last-child) {
  margin-bottom: 12px;
}

.maps-navigation-button-wrapper {
  position: absolute;
}

#monitoring-section .monitoring-wrapper-parent .monitoring-right-content .monitoring-bottom-info {
  height: auto;
}

/* bottom info */
.size-map {
  width: 248px;
  height: auto;
}

.h-resp {
  height: 292px;
}

.h-map {
  height: 150px;
}

.hg-fit {
  /* height: fit-content; */
  /* height: 190px; */
  height: auto;
}

/* #monitoring-section .monitoring-wrapper-parent .monitoring-right-content .monitoring-bottom-info .bottom-info {
  transform: translateY(calc(100% - 241.6px));
}

#monitoring-section .monitoring-wrapper-parent .monitoring-right-content .monitoring-bottom-info .bottom-info.minimize {
  -webkit-transform: translateY(calc(100% + 32px));
  transform: translateY(calc(100% + 112px));
}
#monitoring-section .monitoring-wrapper-parent .monitoring-right-content .monitoring-bottom-info .bottom-info-button-collapse.active {
  top: calc(100% - 112px);
}
#monitoring-section .monitoring-wrapper-parent .monitoring-right-content .monitoring-bottom-info .bottom-info-button-collapse {
  top: calc(100% - 328px);
} */

/* tab activities */
button#pills-activities-tab.nav-link {
  background-image: url("../../assets/img/misc/activation.png") !important;
}

button#pills-activities-tab.nav-link.active {
  background-image: url("../../assets/img/misc/activities.png") !important;
}

button#pills-fleet-tab.nav-link {
  background-image: url("../../assets/img/misc/fleet.png") !important;
}

button#pills-fleet-tab.nav-link.active {
  background-image: url("../../assets/img/misc/fleet-activated.png") !important;
}

/* Button Kecepatan Styling */
.speed {
  border-radius: 6px !important;
  padding: 6px 7px;
  width: 30px;
  height: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  outline: 1px solid #c2c2c2 !important;
}

#monitoring-section .monitoring-wrapper-parent .monitoring-sidebar .sidebar-wrapper {
  /* height: 780px; */
  border-radius: 8px;
  background-color: #ffffff;
  overflow: hidden;
  width: 400px !important;
}

/* .car-lists
{
  width: 400px;
} */

/* set hover */
.bottom-info-content-right-item select:hover,
.bottom-info-content-right-item button:hover {
  border: 1px solid #404040 !important;
  background-color: #f5f5f5;
  color: #272727;
}

/* form input date range */
#event-from:focus {
  border-color: #404040 !important;
  box-shadow: none !important;
}

#event-to:focus {
  border-color: #404040 !important;
  box-shadow: none !important;
}

.datepicker-form:valid~.datepicker-image {
  visibility: hidden;
}

/* button active at bottom info */
.dataTables_scrollHeadInner {
  width: 100% !important;
}

#measurement-table_wrapper>div:nth-child(1)>div:nth-child(1) a:hover {
  background-color: #007bff25;
  border: 1px solid #007bff;
  color: #007bff !important;
}

.dataTable thead tr th {
  font-weight: 500 !important;
  font-size: 12px !important;
  background-color: white;
  width: 136px;
  overflow: hidden;
}

#measurement-table tbody tr td {
  padding-top: 4px;
  padding-bottom: 4px;
  font-weight: 500 !important;
  font-size: 12px !important;
}

#measurement-table tbody tr:hover {
  background-color: #f5f5f5;
}

#measurement-table tbody tr td:last-child button {
  visibility: hidden;
}

#measurement-table tbody tr:hover td:last-child button {
  visibility: visible;
}


/* @media screen and (min-height: 100px) {
  .bottom-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
} */

.day-select:checked+.selected-day>.circle {
  background: #0077ff;
}

.circle-eventlist-p {
  width: 25px;
  height: 25px;
  line-height: 25px;
  border-radius: 50%;
  font-size: 12px;
  color: #fff;
  text-align: center;
  background: #9E9E9E;
  margin: auto;
}

.circle-eventlist-d {
  width: 25px;
  height: 25px;
  line-height: 25px;
  border-radius: 50%;
  font-size: 12px;
  color: #fff;
  text-align: center;
  background: #3267E3;
  margin: auto;
}

.circle-eventlist-s {
  width: 25px;
  height: 25px;
  line-height: 25px;
  border-radius: 50%;
  font-size: 12px;
  color: #fff;
  text-align: center;
  background: #43936C;
  margin: auto;
}


/* 
.user-identity td {
  padding-top: 10px;
} */

tr.spaceUnder>td {
  padding-bottom: 8px;
}

tr.spaceUnder2>td {
  padding-bottom: 4px;
}

/* position icon arrow filter measurement datatable */
table.dataTable>thead .date.sorting:before,
table.dataTable>thead .date.sorting:after {
  right: 8.2em;
}

table.dataTable>thead .area.sorting:before,
table.dataTable>thead .area.sorting:after {
  right: 8.2em;
}

table.dataTable>thead .operator.sorting:before,
table.dataTable>thead .operator.sorting:after {
  right: 6em;
}

table.dataTable>thead .work-time.sorting:before,
table.dataTable>thead .work-time.sorting:after {
  right: 5em;
}

table.dataTable>thead .measurement.sorting:before,
table.dataTable>thead .measurement.sorting:after {
  right: 4.3em;
}