/* inline css to external */
body{
  background-image: url("../../assets/img/map3.png"); 
  background-size: cover;
}
ul.profile-style{
  right: 2px; 
  left: auto !important;
}
.ml-25{
  margin-left: 25px;
}
input.bg-icon-search{
  background-image: url("../../assets/img/misc/search-icon.png") !important;
}
.d-count-none{
  display: none;
}
.hr-line{
  width: 24px; 
  border: 1px thin black;
}
.mt8{
  margin-top: -8px;
}
.ml-6{
  margin-left: 6px;
}

/* fix pixel (perfect pixel)*/
#monitoring-section .monitoring-wrapper-parent .monitoring-sidebar {
  padding-top: 16px;
  padding-left: 16px;
  padding-bottom: 16px;
}
#monitoring-section
  .monitoring-wrapper-parent
  .monitoring-sidebar-sticky-badge.active {
  transform: rotate(-90deg) translate(calc(-27% - 24px), -110%);
}
#monitoring-section
  .monitoring-wrapper-parent
  .monitoring-sidebar-button-collapse {
  top: 36px;
}
#monitoring-section
  .monitoring-wrapper-parent
  .monitoring-sidebar
  .sidebar-wrapper
  .sidebar-tab {
  height: calc(88% - 16px);
}
#monitoring-section
  .monitoring-wrapper-parent
  .monitoring-sidebar
  .sidebar-wrapper
  .sidebar-tab
  .sidebar-tab-content
  .sidebar-tab-item.active {
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
  padding-top: 17px;
}
.car-lists {
  overflow-y: scroll;
}
.p-car-list {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 8px;
  padding-right: 8px;
}
.car-item-right {
  padding-left: 8px;
}
.car-item-left {
  padding: 0;
  width: 56px;
}
#monitoring-section
  .monitoring-wrapper-parent
  .monitoring-right-content
  .monitoring-bottom-info {
  padding-left: 16px;
  padding-bottom: 16px;
  padding-right: 16px;
}
.p-bottom-info {
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 0px;
}
#monitoring-section
  .monitoring-wrapper-parent
  .monitoring-right-content
  .monitoring-bottom-info
  .bottom-info
  .bottom-info-left-content
  .bottom-info-header {
  padding-top: 8px;
  padding-left: 16px;
  padding-bottom: 8px;
}
.pb-8 {
  padding-bottom: 8px;
}
#monitoring-section
  .monitoring-wrapper-parent
  .monitoring-right-content
  .monitoring-bottom-info
  .bottom-info
  .bottom-info-right-content {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
  display: block !important;
  margin: 0 auto;
}
.font-26 {
  font-size: 26px;
}
.font-12 {
  font-size: 12px;
}
.form-check-input:checked[type="checkbox"] {
  background-image: url("../../assets/img/misc/checked.png") !important;
  background-size: 8px;
}
.form-check-input:checked {
  background-color: #ffffff;
  border: 1px solid #757575;
  border-radius: 4px;
}

.nav-pills .nav-link {
  border-radius: 132px;
}
button#pills-profile-tab.nav-link.active {
  background-color: rgb(94, 162, 230, 0.1);
  color: #0d6efd !important;
  border: 1px solid #0d6efd !important;
  padding: 6px 8px;
}
button#pills-home-tab.nav-link.active {
  background-color: rgb(94, 162, 230, 0.1);
  color: #0d6efd !important;
  border: 1px solid #0d6efd !important;
  padding: 6px 8px;
}
button#pills-profile-tab.nav-link {
  border-radius: 132px;
  border: 1px solid #86888a;
  color: #86888a;
  padding: 6px 8px;
}
button#pills-home-tab.nav-link {
  border-radius: 132px;
  border: 1px solid #86888a;
  color: #86888a;
  margin-right: 4px;
  padding: 6px 8px;
}
span.badge-on {
  font-size: 10px;
  font-weight: 500;
  text-align: center;
  align-items: center;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 8px;
  padding-right: 8px;
  /* width: 35px; */
  height: 20px;
  display: flex;
  justify-content: center;
  border-radius: 100px !important;
  margin-right: 16px !important;
  margin-left: 8px !important;
  background: #E4F1EB;
  border: 1px solid #43936C !important;
}

/* style filter form */
button#vehicle-search-filter {
  border-radius: 6px;
}
button#vehicle-search-filter:hover {
  border: 1px solid #404040;
  /* background-color: #F5F5F5; */
}
button#vehicle-search-filter.show {
  border: 1px solid #404040;
  /* background-color: #F5F5F5; */
  box-shadow: none;
  display: flex;
  justify-content: center;
}
.w-filter {
  width: 36px;
  height: 36px;
  padding: 10px;
  display: flex;
  justify-content: center;
  margin-left: 12px;
}
#monitoring-section
.monitoring-wrapper-parent
.monitoring-sidebar
.sidebar-wrapper
.sidebar-tab
.sidebar-tab-button
button.fleet {
  /* icon tab fleet */
  background-position-x: 60px;
}
#monitoring-section
.monitoring-wrapper-parent
.monitoring-sidebar
.sidebar-wrapper
.sidebar-tab
.sidebar-tab-button
button.activities {
  /* icon tab activities */
  background-position-x: 43px
}

/* list-item */
#monitoring-section
  .monitoring-wrapper-parent
  .monitoring-sidebar
  .sidebar-wrapper
  .sidebar-tab
  .sidebar-tab-content
  .sidebar-tab-item
  .sidebar-tab-item-content {
  overflow-y: hidden;
  padding-top: 8px;
}
.car-item {
  border-bottom: 0.5px solid #c2c2c2;
}
a.text-dark:link {
  text-decoration: none;
}
.car-item:hover {
  background-color: #e5e5e5;
  cursor: pointer;
}

/* scrollbar-y sidebar style */
div.car-lists {
  scrollbar-width: thin;
  scrollbar-color: grey white;
}
div.car-lists::-webkit-scrollbar {
  width: 0px; /* width of the entire scrollbar */
}
div.car-lists::-webkit-scrollbar-track {
  background: white; /* color of the tracking area */
}
div.car-lists::-webkit-scrollbar-thumb {
  background-color: grey; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  /* border: 3px solid orange;  creates padding around scroll thumb */
}

/* avatar width */
.img-avatar {
  width: 40px;
  height: 40px;
  margin-top: 8px;
  margin-left: 2px;
}

.img-avatar-blue {
  width: 40px;
  height: 40px;
  margin-top: 8px;
  /* margin-left: 2px; */
}

.car {
  box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.1);
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background-color: white !important;
}

/* dropdown breadcumb */
.dropbtn-nav {
  color: #757575;
  font-size: 14px;
  border: none;
  cursor: pointer;
  background-color: white;
  font-weight: bold;
}

.dropbtn-nav:hover,
.dropbtn-nav:focus {
  background-color: #f5f5f5;
  border-radius: 5px;
}

.dropdown {
  position: absolute;
  display: inline-block;
  z-index: 2;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 326px;
  overflow: auto;
  box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-top: 2px;
  z-index: 1;
}

.dropdown-content a {
  color: #0a0a0a;
  padding: 4px 8px;
  text-decoration: none;
  display: block;
  font-weight: 500;
  font-size: 12px;
}

.dropdown a:hover {
  background-color: #f5f5f5;
}

.show {
  display: block;
}

.filter-index {
  z-index: 1;
}

/* search form */
/* form {
  display: flex;
  justify-content: center;
  align-items: center;
} */
input[type="search"] {
  border: none;
  background: transparent;
  margin: 0;
  padding: 7px 0px;
  font-size: 12px;
  color: inherit;
  border: 1px solid transparent;
  border-radius: 10px;
}
input[type="search"]::placeholder {
  color: #bbb;
}
input[type="search"]:focus {
  box-shadow: 0 0 3px 0 #c2c2c2;
  border: 1.5px solid #404040;
  outline: none;
}
form.nosubmit {
  border: none;
  padding: 0;
  width: 100%;
}
input.nosubmit {
  border: 1px solid #c2c2c2;
  border-radius: 6px;
  width: 100%;
  width: 352px;
  height: 36px;
  padding: 9px 4px 9px 40px;
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: left;
  background-position-x: 10px;
}
input.nosubmit:hover {
  border: 1px solid #404040;
}

/* button map side-left */
.btn-map {
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.1) !important;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background-color: white !important;
}
.btn-zoom {
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.1) !important;
  width: 32px;
  height: 90px;
  background-color: white !important;
  border-radius: 4px;
  margin-right: 4px;
}
.btn-zoom-list {
  background-color: white;
  border: none;
}
#monitoring-section
  .monitoring-wrapper-parent
  .monitoring-right-content
  .monitoring-maps-navigation {
  height: 100%;
  padding-top: 16px;
  padding-right: 16px;
}
#monitoring-section
  .monitoring-wrapper-parent
  .monitoring-right-content
  .monitoring-maps-navigation
  .maps-navigation-button-wrapper
  button:not(:last-child) {
  margin-bottom: 12px;
}
.maps-navigation-button-wrapper {
  position: absolute;
}
#monitoring-section
  .monitoring-wrapper-parent
  .monitoring-right-content
  .monitoring-bottom-info {
  height: auto;
}

/* bottom info */
.size-map {
  width: 248px;
  height: auto;
}
.h-resp {
  height: 292px;
}
.h-map {
  height: 150px;
}
.hg-fit {
  /* height: fit-content; */
  /* height: 190px; */
  height: auto;
}
/* #monitoring-section .monitoring-wrapper-parent .monitoring-right-content .monitoring-bottom-info .bottom-info {
  transform: translateY(calc(100% - 241.6px));
}

#monitoring-section .monitoring-wrapper-parent .monitoring-right-content .monitoring-bottom-info .bottom-info.minimize {
  -webkit-transform: translateY(calc(100% + 32px));
  transform: translateY(calc(100% + 112px));
}
#monitoring-section .monitoring-wrapper-parent .monitoring-right-content .monitoring-bottom-info .bottom-info-button-collapse.active {
  top: calc(100% - 112px);
}
#monitoring-section .monitoring-wrapper-parent .monitoring-right-content .monitoring-bottom-info .bottom-info-button-collapse {
  top: calc(100% - 328px);
} */

/* tab activities */
button#pills-activities-tab.nav-link {
  background-image: url("../../assets/img/misc/activation.png") !important;
}
button#pills-activities-tab.nav-link.active {
  background-image: url("../../assets/img/misc/activities.png") !important;
}

button#pills-fleet-tab.nav-link {
  background-image: url("../../assets/img/misc/fleet.png") !important;
}
button#pills-fleet-tab.nav-link.active {
  background-image: url("../../assets/img/misc/fleet-activated.png") !important;
}

#monitoring-section
  .monitoring-wrapper-parent
  .monitoring-sidebar
  .sidebar-wrapper {
  /* height: 780px; */
  border-radius: 8px;
  background-color: #ffffff;
  overflow: hidden;
  width: 400px !important;
}
/* .car-lists
{
  width: 400px;
} */

/* @media screen and (max-height: 100px) {
  #monitoring-section
    .monitoring-wrapper-parent
    .monitoring-right-content
    .monitoring-bottom-info
    .h-bottom-info-tabs {
    height: auto !important;
  }
} */

/* Circle Car */

.circle-car-blue {
  width: 56px;
  height: 56px;
  line-height: 40px;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  background: #F0F3FF;
  margin: auto;
}

.circle-car-green {
  width: 56px;
  height: 56px;
  line-height: 40px;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  background: #E4F1EB;
  margin: auto;
}

.circle-car-red {
  width: 56px;
  height: 56px;
  line-height: 40px;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  background: #FFF4F2;
  margin: auto;
}

.circle-car-orange {
  width: 56px;
  height: 56px;
  line-height: 40px;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  background: #FAE3CC;
  margin: auto;
}

.button-journey{
  border-radius: 4px;
  background: #0073E6;
}