/* inline css to external */
body{
    background-image: url("../../assets/img/map3.png"); 
    background-size: cover;
  }
  ul.profile-style{
    right: 2px; 
    left: auto !important;
  }
  .mt-5{
    margin-top: 5px !important;
  }
  .pl-35{
    padding-left: 35px;
  }
  .hr-line{
    width: 24px; 
    border: 1px thin black;
  }
  .mt8{
    margin-top: -8px;
  }
  
  /* fix pixel (perfect pixel)*/
  #monitoring-section .monitoring-wrapper-parent .monitoring-sidebar {
    padding-top: 16px;
    padding-left: 16px;
    padding-bottom: 16px;
  }
  
  #monitoring-section .monitoring-wrapper-parent .monitoring-sidebar-sticky-badge.active {
    transform: rotate(-90deg) translate(calc(-27% - 24px), -110%);
  }
  
  #monitoring-section .monitoring-wrapper-parent .monitoring-sidebar-button-collapse {
    top: 36px;
  }
  
  #monitoring-section .monitoring-wrapper-parent .monitoring-sidebar .sidebar-wrapper .sidebar-tab {
    height: calc(88% - 16px);
  }
  
  #monitoring-section .monitoring-wrapper-parent .monitoring-sidebar .sidebar-wrapper .sidebar-tab .sidebar-tab-content .sidebar-tab-item.active {
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    padding-top: 17px;
  }
  
  .car-lists {
    overflow-y: scroll;
  }
  
  .p-car-list {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 16px;
    padding-right: 16px;
  }
  
  .car-item-right {
    padding-left: 16px;
  }
  
  .car-item-left {
    padding: 0;
    width: 56px;
  }
  
  #monitoring-section .monitoring-wrapper-parent .monitoring-right-content .monitoring-bottom-info {
    padding-left: 0;
    padding-bottom: 16px;
    padding-right: 16px;
  }
  
  #monitoring-section .monitoring-wrapper-parent .monitoring-right-content .monitoring-bottom-info .bottom-info .bottom-info-left-content .bottom-info-header {
    padding-top: 16px;
    padding-left: 16px;
    padding-bottom: 8px;
  }
  
  #monitoring-section .monitoring-wrapper-parent .monitoring-right-content .monitoring-bottom-info .bottom-info .bottom-info-content-center-item {
    width: 220px;
    margin: 0 auto;
  }
  
  .pb-8 {
    padding-bottom: 8px;
  }
  
  #monitoring-section .monitoring-wrapper-parent .monitoring-right-content .monitoring-bottom-info .bottom-info .bottom-info-right-content {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
    display: block !important;
    margin: 0 auto;
  }
  
  .font-26 {
    font-size: 26px;
  }
  
  .font-12 {
    font-size: 12px;
  }
  
  .form-check-input:checked[type="checkbox"] {
    background-image: url("../../assets/img/misc/checked.png") !important;
    background-size: 8px;
  }
  
  .form-check-input:checked {
    background-color: #ffffff;
    border: 1px solid #757575;
    border-radius: 4px;
  }
  
  .box-sidebar-item {
    border-radius: 6px;
    box-shadow: 4px 8px 24px rgb(0 0 0 / 10%);
    border: 1px solid #c2c2c2;
  }
  
  .padding {
    padding-left: 16px;
    padding-bottom: 16px;
    padding-right: 16px;
    padding-top: 8px;
  }
  
  .padding-top {
    padding-top: 16px;
  }
  
  div.dataTables_scrollBody {
    max-height: 110px !important;
    height: 110px;
  }
  
  .sidebar-tab-item-legend-style {
    border-radius: 6px;
    border: 1px solid #c2c2c2;
    padding-top: 6px;
    padding-bottom: 6px;
    /* padding-left: 12px;
    padding-right: 12px; */
  }
  
  .font-style {
    font-size: 10px;
    font-weight: 500;
    line-height: 16px;
  }
  
  .icon-bottom-create,
  .icon-bottom-download {
    width: 13px;
    height: 16px;
    margin-right: 4px;
  }
  
  .icon-bottom-create-focus,
  .icon-bottom-download-focus {
    width: 13px;
    height: 16px;
    margin-right: 4px;
  }
  
  .nav-pills .nav-link {
    border-radius: 132px;
  }
  
  #pills-profile-tab.active {
    /* background-color: rgb(94, 162, 230, 0.1); */
    background: #ffffff;
    color: #0d6efd !important;
    /* border: 1px solid #0d6efd !important; */
    padding: 12px 8px;
    font-size: 14px;
    width: 100%;
    border-bottom: 2px solid #0073E6;
    border-top: none;
    border-left: none;
    border-right: none;
  }
  
  #pills-home-tab.active {
    /* background-color: rgb(94, 162, 230, 0.1); */
    background: #ffffff;
    color: #0d6efd !important;
    /* border: 1px solid #0d6efd !important; */
    padding: 12px 8px;
    font-size: 14px;
    width: 100%;
    border-bottom: 2px solid #0073E6;
    border-top: none;
    border-left: none;
    border-right: none;
  }
  
  button#pills-profile-tab {
    /* border-radius: 132px; */
    /* border: 1px solid #86888a; */
    color: #86888a;
    background-color: #ffffff;
    padding: 12px 8px;
    font-size: 14px;
    width: 100%;
    border-bottom: 2px solid #C2C2C2;
    border-top: none;
    border-left: none;
    border-right: none;
  }
  
  button#pills-home-tab {
    /* border-radius: 132px; */
    /* border: 1px solid #86888a; */
    color: #86888a;
    background-color: #ffffff;
    /* margin-right: 4px; */
    padding: 12px 8px;
    font-size: 14px;
    width: 100%;
    border-bottom: 2px solid #C2C2C2;
    border-top: none;
    border-left: none;
    border-right: none;
  }

  .active-border {
    border-bottom: 1.5px solid #0073E6;
  }
  
  /* .pills-tab-border {
    border-bottom: 2px solid #C2C2C2;
  } */
  
  span.badge-on {
    border-radius: 20px;
    background-color: rgb(94, 162, 230, 0.1);
    border: 1px solid #0d6efd !important;
    color: #0d6efd;
    padding: 3px 8px;
    font-size: 10px;
  }
  
  /* style filter form */
  button#vehicle-search-filter {
    border-radius: 6px;
  }
  
  button#vehicle-search-filter:hover {
    border: 1.5px solid #404040;
  }
  
  button#vehicle-search-filter.show {
    border: 1.5px solid #404040;
    box-shadow: none;
    display: flex;
    justify-content: center;
  }
  
  .w-filter {
    width: 36px;
    height: 36px;
    padding: 10px;
    display: flex;
    justify-content: center;
    margin-left: 12px;
  }
  
  #monitoring-section .monitoring-wrapper-parent .monitoring-sidebar .sidebar-wrapper .sidebar-tab .sidebar-tab-button button.fleet {
    /* icon tab fleet */
    background-position-x: 60px;
  }
  
  #monitoring-section .monitoring-wrapper-parent .monitoring-sidebar .sidebar-wrapper .sidebar-tab .sidebar-tab-button button.activities {
    /* icon tab activities */
    background-position-x: 43px
  }
  
  /* list-item */
  .car-item {
    border-bottom: 0.5px solid #c2c2c2;
  }
  
  a.text-dark:link {
    text-decoration: none;
  }
  
  .car-item:hover {
    background-color: #e5e5e5;
    cursor: pointer;
  }
  
  /* scrollbar-y sidebar style */
  div.car-lists {
    scrollbar-width: thin;
    scrollbar-color: grey white;
  }
  
  div.car-lists::-webkit-scrollbar {
    width: 0px;
    /* width of the entire scrollbar */
  }
  
  div.car-lists::-webkit-scrollbar-track {
    background: white;
    /* color of the tracking area */
  }
  
  div.car-lists::-webkit-scrollbar-thumb {
    background-color: grey;
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    /* border: 3px solid orange;  creates padding around scroll thumb */
  }
  
  /* avatar width */
  .img-avatar {
    width: 56px;
    height: 56px;
  }
  
  .car {
    box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.1);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-color: white !important;
  }
  
  /* dropdown breadcumb */
  .dropbtn-nav {
    color: #757575;
    font-size: 14px;
    border: none;
    cursor: pointer;
    background-color: white;
    font-weight: bold;
  }
  
  .dropbtn-nav:hover,
  .dropbtn-nav:focus {
    background-color: #f5f5f5;
    border-radius: 5px;
  }
  
  .dropdown {
    position: absolute;
    display: inline-block;
    z-index: 2;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 326px;
    min-height: 88px;
    overflow: auto;
    box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-top: 2px;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: #0a0a0a;
    padding: 4px 8px;
    text-decoration: none;
    display: block;
    font-weight: 500;
    font-size: 12px;
  }
  
  .dropdown a:hover {
    background-color: #f5f5f5;
  }
  
  .show {
    display: block;
  }
  
  .filter-index {
    z-index: 1;
  }
  
  /* search form */
  /* form {
    display: flex;
    justify-content: center;
    align-items: center;
  } */
  input[type="text"] {
    font-size: 12px;
  }
  
  input[type="search"] {
    border: none;
    background: transparent;
    margin: 0;
    padding: 7px 0px;
    font-size: 12px;
    color: inherit;
    border: 1px solid transparent;
    border-radius: 10px;
    height: 32px;
  }
  
  input[type="search"]::placeholder {
    color: #bbb;
  }
  
  input[type="search"]:focus {
    box-shadow: 0 0 3px 0 #c2c2c2;
    border: 1.5px solid #404040;
    outline: none;
  }
  
  form.nosubmit {
    border: none;
    padding: 0;
    width: 100%;
  }
  
  input.nosubmit {
    border: 1px solid #c2c2c2;
    border-radius: 6px;
    width: 100%;
    width: 352px;
    height: 36px;
    padding: 9px 4px 9px 40px;
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: left;
    background-position-x: 10px;
  }
  
  input.nosubmit:hover {
    border: 1px solid #404040;
  }
  
  /* button map side-left */
  .btn-map {
    box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.1) !important;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-color: white !important;
  }
  
  .btn-zoom {
    box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.1) !important;
    width: 32px;
    height: 90px;
    background-color: white !important;
    border-radius: 4px;
    /* margin-right: 4px; */
    transform: translateX(13px);
  }
  
  .btn-zoom-list {
    background-color: white;
    border: none;
  }
  
  #monitoring-section .monitoring-wrapper-parent .monitoring-right-content .monitoring-maps-navigation {
    height: 100%;
    padding-top: 16px;
    padding-right: 16px;
  }
  
  #monitoring-section .monitoring-wrapper-parent .monitoring-right-content .monitoring-maps-navigation .maps-navigation-button-wrapper button:not(:last-child) {
    margin-bottom: 12px;
  }
  
  .maps-navigation-button-wrapper {
    position: absolute;
  }
  
  #monitoring-section .monitoring-wrapper-parent .monitoring-right-content .monitoring-bottom-info {
    height: auto;
  }
  
  /* bottom info */
  .size-map {
    width: 248px;
    height: auto;
  }
  
  .h-resp {
    height: 292px;
  }
  
  .h-map {
    height: 150px;
  }
  
  .hg-fit {
    /* height: fit-content; */
    /* height: 190px; */
    height: auto;
  }
  
  /* #monitoring-section .monitoring-wrapper-parent .monitoring-right-content .monitoring-bottom-info .bottom-info {
    transform: translateY(calc(100% - 241.6px));
  }
  
  #monitoring-section .monitoring-wrapper-parent .monitoring-right-content .monitoring-bottom-info .bottom-info.minimize {
    -webkit-transform: translateY(calc(100% + 32px));
    transform: translateY(calc(100% + 112px));
  }
  #monitoring-section .monitoring-wrapper-parent .monitoring-right-content .monitoring-bottom-info .bottom-info-button-collapse.active {
    top: calc(100% - 112px);
  }
  #monitoring-section .monitoring-wrapper-parent .monitoring-right-content .monitoring-bottom-info .bottom-info-button-collapse {
    top: calc(100% - 328px);
  } */
  
  /* tab activities */
  button#pills-activities-tab.nav-link {
    background-image: url("../../assets/img/misc/activation.png") !important;
  }
  
  button#pills-activities-tab.nav-link.active {
    background-image: url("../../assets/img/misc/activities.png") !important;
  }
  
  button#pills-fleet-tab.nav-link {
    background-image: url("../../assets/img/misc/fleet.png") !important;
  }
  
  button#pills-fleet-tab.nav-link.active {
    background-image: url("../../assets/img/misc/fleet-activated.png") !important;
  }
  
  /* Button Kecepatan Styling */
  .speed {
    border-radius: 6px !important;
    padding: 6px 7px;
    width: 30px;
    height: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    outline: 1px solid #c2c2c2 !important;
  }
  
  #monitoring-section .monitoring-wrapper-parent .monitoring-sidebar .sidebar-wrapper {
    height: 332px;
    /* height: 451px; */
    border-radius: 8px;
    background-color: #ffffff;
    overflow: hidden;
    /* height: auto; */
    width: 320px !important;
    /* top: 175px; */
    bottom : 360px;
  }
  
  /* .car-lists
  {
    width: 400px;
  } */
  
  /* set hover */
  .bottom-info-content-right-item select:hover,
  .bottom-info-content-right-item button:hover {
    border: 1px solid #404040 !important;
    background-color: #f5f5f5;
    color: #272727;
  }
  
  /* form input date range */
  #event-from:focus {
    border-color: #404040 !important;
    box-shadow: none !important;
  }
  
  #event-to:focus {
    border-color: #404040 !important;
    box-shadow: none !important;
  }
  
  .datepicker-form:valid~.datepicker-image {
    visibility: hidden;
  }
  
  /* button active at bottom info */
  .dataTables_scrollHeadInner {
    width: 100% !important;
  }
  
  #measurement-table_wrapper>div:nth-child(1)>div:nth-child(1) a:hover {
    background-color: #007bff25;
    border: 1px solid #007bff;
    color: #007bff !important;
  }
  
  .dataTable thead tr th {
    font-weight: 500 !important;
    font-size: 12px !important;
    background-color: white;
    width: 136px;
    overflow: hidden;
  }
  
  #measurement-table tbody tr td {
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 500 !important;
    font-size: 12px !important;
  }
  
  #measurement-table tbody tr:hover {
    background-color: #f5f5f5;
  }
  
  #measurement-table tbody tr td:last-child button {
    visibility: hidden;
  }
  
  #measurement-table tbody tr:hover td:last-child button {
    visibility: visible;
  }
  
  
  /* @media screen and (min-height: 100px) {
    .bottom-info {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
    }
  } */
  
  .day-select:checked+.selected-day>.circle {
    background: #0077ff;
  }
  
  .circle-eventlist-p {
    width: 25px;
    height: 25px;
    line-height: 25px;
    border-radius: 50%;
    font-size: 12px;
    color: #fff;
    text-align: center;
    background: #9E9E9E;
    margin: auto;
  }
  
  .circle-eventlist-d {
    width: 25px;
    height: 25px;
    line-height: 25px;
    border-radius: 50%;
    font-size: 12px;
    color: #fff;
    text-align: center;
    background: #3267E3;
    margin: auto;
  }
  
  .circle-eventlist-s {
    width: 25px;
    height: 25px;
    line-height: 25px;
    border-radius: 50%;
    font-size: 12px;
    color: #fff;
    text-align: center;
    background: #43936C;
    margin: auto;
  }
  
  
  /* 
  .user-identity td {
    padding-top: 10px;
  } */
  
  tr.spaceUnder>td {
    padding-bottom: 8px;
  }
  
  tr.spaceUnder2>td {
    padding-bottom: 4px;
  }
  
  /* position icon arrow filter measurement datatable */
  table.dataTable>thead .date.sorting:before,
  table.dataTable>thead .date.sorting:after {
    right: 1.2em;
  }
  
  table.dataTable>thead .area.sorting:before,
  table.dataTable>thead .area.sorting:after {
    right: 8.2em;
  }
  
  table.dataTable>thead .operator.sorting:before,
  table.dataTable>thead .operator.sorting:after {
    right: 6em;
  }
  
  table.dataTable>thead .work-time.sorting:before,
  table.dataTable>thead .work-time.sorting:after {
    right: 5em;
  }
  
  table.dataTable>thead .measurement.sorting:before,
  table.dataTable>thead .measurement.sorting:after {
    right: 4.3em;
  }

  .chart-container{
    margin-top: 10px;
    width: 320px;
  }

  .button-category{
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }

/* dropdown breadcumb */
.dropbtn-nav2 {
  color: black;
  font-size: 14px;
  font-weight: 400;
  border: none;
  cursor: pointer;
  background-color: white;
  padding-left: 0px;
}

.dropdown2 {
  position: absolute;
  display: inline-block;
  z-index: 2;
}

.dropdown-content2 {
  display: none;
  position: absolute;
  background-color: white;
  width: max-content;
  overflow: auto;
  box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-top: 2px;
  z-index: 1;
  transform: translate(-20px, 20px);
}

.dropdown-content2 a {
  color: #0a0a0a;
  padding: 10px 20px;
  text-decoration: none;
  display: block;
  font-weight: 500;
  font-size: 14px;
  
}

.dropdown2 a:hover {
  background-color: #f5f5f5;
}

.show {
  display: block;
}

.filter-index {
  z-index: 1;
}

.bottom-info-tab-content ol li{
  padding-top: 12px;
  font-size: 16px;
  font-weight: 400;
}

/* Resizer */
.resizable-x,
.resizable-y {
  display: flex;
  overflow: hidden;
}

.resizable-x {
  height: 100%;
}

.resizable-y {
  flex-direction: column;
}

.resizer-x,
.resizer-y {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  padding: 4px;
}

.resizer-x {
  z-index: 2;
  cursor: col-resize;
}
.resizer-x::before,
.resizer-x::after {
  content: "";
  width: 2px;
  height: 16px;
  margin: 2px;
  background: lightgray;
}

.resizer-y {
  z-index: 1;
  cursor: row-resize;
  flex-direction: column;
}
.resizer-y::before,
.resizer-y::after {
  content: "";
  width: 16px;
  height: 2px;
  margin: 2px;
  background: lightgray;
}

/* Selectize */

.selectize-input.focus {
  position: relative;
}

.selectize-input.focus::before {
  content: "";
  display: block;
  background-image: url("../img/misc/search.svg");
  background-repeat: no-repeat;
  height: 100%;
  width: 20px;
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  background-color: #ffffff;
}

.selectize-input.focus.has-items input:focus {
  margin-top: 2px !important;
  margin-left: 0 !important;
}

.selectize-input.focus input:focus {
  margin-top: 2px !important;
  margin-left: 22px !important;
}

.selectize-input.focus.input-active input:focus::placeholder {
  opacity: 1 !important;
}

.selectize-dropdown-content {
  max-height: none !important;
  /* border style form modal */
}

.selectize-input {
  height: 36px;
  /* box-shadow: none !important; */
  padding: 6px 10px !important;
  display: inline-block !important;
  width: 342px;
  overflow: hidden !important;
  position: relative !important;
  z-index: 1 !important;
  border-radius: 6px;
  box-shadow: 1px 2px 6px rgb(0 0 0 / 10%);
}

.selectize-input.dropdown-active {
  border-radius: 6px;
}

.selectize-input-invalid {
  height: 36px !important;
  box-shadow: none !important;
  border: 1px solid #cb3a31;
  padding: 6px 12px !important;
  display: inline-block !important;
  width: 100% !important;
  overflow: hidden !important;
  position: relative !important;
  z-index: 1 !important;
  border-radius: 6px;
  border-color: #dc3545;
  padding-right: calc(1.5em + 0.75rem);
  background-image: url("../../assets/img/misc/alert-circle.png");
  /* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e"); */
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.selectize-input:hover {
  border: 1px solid #404040;
}

.selectize-dropdown {
  margin-top: 8px !important;
}

.selectize-control.single .selectize-input:after {
  content: "";
  display: block;
  background-image: url(../img/misc/arrow-down.png) !important;
  background-repeat: no-repeat;
  height: 100%;
  width: 20px;
  position: absolute;
  top: 50%;
  right: 17px;
  margin-top: -3px;
  background-color: #ffffff;
  border: none;
}

.selectize-control.single .selectize-input.dropdown-active:after{
  transform: translateY(-90%) translateX(-30%) rotate(180deg);
  margin-top: 1.5px;
}

.item {
  font-size: 14px;
}

/* .selectize-input.full {
  border: 1.5px solid #404040;
} */

.selectize-input.full {
  border: 1px solid #C2C2C2;
}

.selectize-dropdown-content{
  max-height: 150px !important;
  overflow-y: scroll;
  overflow-x: hidden;
  box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.1);
}

.selectize-dropdown .selectize-dropdown-content .option{
  cursor: pointer;
}

/* scrollbar-y sidebar style */
.selectize-dropdown-content {
  scrollbar-width: thin;
  scrollbar-color: grey white;
}
.selectize-dropdown-content::-webkit-scrollbar {
  width: 2px; /* width of the entire scrollbar */
}
.selectize-dropdown-content::-webkit-scrollbar-track {
  background: white; /* color of the tracking area */
}
.selectize-dropdown-content::-webkit-scrollbar-thumb {
  background-color: grey; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  /* border: 3px solid orange;  creates padding around scroll thumb */
}

/* line collapse bottom */
.line-collapse{
  width: 40px;
  height: 6px;
  background: #C2C2C2;
  border-radius: 4px;
  margin-top: 10px;
  cursor: pointer;
}

/* bottom fleet collapse */
.monitoring-bottom-info.active {
  /* -webkit-transform: translateY(100%);
  transform: translateY(100%); */
  height: 708px !important;
  transition: all .3s ease-in-out;
}
.dataTables_scrollBody.active{
  height: 436px;
  max-height: 436px !important;
}
#monitoring-section .monitoring-wrapper-parent .monitoring-right-content .monitoring-maps-navigation .maps-navigation-button-wrapper{
  display: -webkit-box;
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  height: 100%;
}


