/* inline css to eksternal */
body{
  background-image: url("../../assets/img/map4.png"); 
  background-size: cover;
}
ul.profile-style{
  right: 2px; 
  left: auto !important;
}
input.bg-icon-search{
  background-image: url("../../assets/img/misc/search-icon.png") !important;
}
.mt8{
  margin-top: -8px;
}
.hr-line{
  width: 24px; 
  border: 1px thin black;
}

/* fix pixel (perfect pixel)*/
#monitoring-section
  .monitoring-wrapper-parent
  .monitoring-sidebar
  .sidebar-wrapper
  .sidebar-tab
  .sidebar-tab-content
  .sidebar-tab-item.active {
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
  padding-top: 17px;
}
#monitoring-section
  .monitoring-wrapper-parent
  .monitoring-sidebar
  .sidebar-wrapper
  .sidebar-tab {
  height: calc(88% - 16px);
}
#monitoring-section
  .monitoring-wrapper-parent
  .monitoring-right-content
  .monitoring-maps-navigation
  .maps-navigation-button-wrapper
  button:not(:last-child) {
  margin-bottom: 12px;
}
.p-user-list {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 8px;
  padding-right: 8px;
}
.user-lists {
  overflow-y: scroll;
}
.user-item-right {
  padding-left: 8px;
}
.user-item-left {
  padding: 0;
  width: 40px;
}
#monitoring-section
.monitoring-wrapper-parent
.monitoring-sidebar
.sidebar-wrapper
.sidebar-tab
.sidebar-tab-button
button.fleet {
  /* icon tab fleet */
  background-position-x: 60px;
}
#monitoring-section
.monitoring-wrapper-parent
.monitoring-sidebar
.sidebar-wrapper
.sidebar-tab
.sidebar-tab-button
button.activities {
  /* icon tab activities */
  background-position-x: 43px
}

/* list-item */
#monitoring-section
  .monitoring-wrapper-parent
  .monitoring-sidebar
  .sidebar-wrapper
  .sidebar-tab
  .sidebar-tab-content
  .sidebar-tab-item
  .sidebar-tab-item-content {
  padding-top: 8px;
  overflow: hidden;
}
.user-item {
  border-bottom: 0.5px solid #c2c2c2;
}
a.text-dark:link {
  text-decoration: none;
}
.user-item:hover {
  background-color: #e5e5e5;
  cursor: pointer;
}
.font-26 {
  font-size: 26px;
}
.font-12 {
  font-size: 12px;
}

/* style side-left */
#monitoring-section
  .monitoring-wrapper-parent
  .monitoring-sidebar
  .sidebar-wrapper {
  width: 400px !important;
}
#monitoring-section .monitoring-wrapper-parent .monitoring-sidebar {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
}
#monitoring-section
  .monitoring-wrapper-parent
  .monitoring-sidebar-sticky-badge.active {
  transform: rotate(-90deg) translate(calc(-27% - 24px), -110%);
}
#monitoring-section
  .monitoring-wrapper-parent
  .monitoring-sidebar-button-collapse {
  top: 36px;
}

/* scrollbar-y sidebar style */
div.user-lists {
  scrollbar-width: thin;
  scrollbar-color: grey white;
}
div.user-lists::-webkit-scrollbar {
  width: 0px; /* width of the entire scrollbar */
}
div.user-lists::-webkit-scrollbar-track {
  background: white; /* color of the tracking area */
}
div.user-lists::-webkit-scrollbar-thumb {
  background-color: grey; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  /* border: 3px solid orange;  creates padding around scroll thumb */
}

/* avatar width */
.img-avatar {
  width: 40px;
  height: 40px;
}
.car {
  box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.1);
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background-color: white !important;
}

/* search form */
form {
  display: flex;
  justify-content: center;
  align-items: center;
}
input[type="search"] {
  border: none;
  background: transparent;
  margin: 0;
  padding: 7px 0px;
  font-size: 12px;
  color: inherit;
  border: 1px solid transparent;
  border-radius: 10px;
}
input[type="search"]::placeholder {
  color: #bbb;
}
input[type="search"]:focus {
  box-shadow: 0 0 3px 0 #c2c2c2;
  border: 1.5px solid #404040;
  outline: none;
}
form.nosubmit {
  border: none;
  padding: 0;
  width: 100%;
}
input.nosubmit {
  border: 1px solid #c2c2c2;
  border-radius: 6px;
  width: 100%;
  height: 36px;
  padding: 9px 4px 9px 40px;
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: left;
  background-position-x: 10px;
}
input.nosubmit:hover {
  border: 1px solid #404040;
}

/* button map side-left */
.btn-map {
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.1) !important;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background-color: white !important;
}
.btn-zoom {
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.1) !important;
  width: 32px;
  height: 90px;
  background-color: white !important;
  border-radius: 4px;
  margin-right: 5px;
}
.btn-zoom-list {
  background-color: white;
  border: none;
}
#monitoring-section .monitoring-wrapper-parent .monitoring-sidebar {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
}

/* tab activities */
button#pills-activities-tab.nav-link {
  background-image: url("../../assets/img/misc/activation.png") !important;
}
button#pills-activities-tab.nav-link.active {
  background-image: url("../../assets/img/misc/activities.png") !important;
}

button#pills-fleet-tab.nav-link {
  background-image: url("../../assets/img/misc/fleet.png") !important;
}
button#pills-fleet-tab.nav-link.active {
  background-image: url("../../assets/img/misc/fleet-activated.png") !important;
}
