/* inline to eksternal */
.top-card{
  border-radius: 8px 8px 0px 0px; border: 1px solid #C2C2C2;
}
.middle-card{
  border: 1px solid #C2C2C2;
}
.bottom-card{
  border-radius: 0px 0px 8px 8px; border: 1px solid #C2C2C2;
}


.circle {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  font-size: 12px;
  color: #fff;
  text-align: center;
  background: #c4c4c4;
  margin: auto;
  margin-top: 12px;
}

/* .form-check-input:checked{
  background-color: #E5F1FF;
  background-image: url("../../assets/img/misc/checkbox-active.png") !important;
}

.form-check-input{
  background-color: #c4c4c4;
  border-color: #c4c4c4;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e") !important;
} */

.day-select:checked + .selected-day > .circle {
  background: #0077ff;
}

.day-select-2:checked + .selected-day > .circle {
  background: #0077ff;
}

/* .day-select:checked + .selected-day{
  border-color: black !important;
} */

.outlinecolor {
  border-color: black !important;
}

.day-select input[type="checkbox"]:checked {
  background: #0077ff;
  border-color: #03a9f4;
}

/* Circle Tag */
.round {
  position: relative;
}

.round label {
  background-color: #66bb6a;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  height: 28px;
  left: 0;
  position: absolute;
  top: 0;
  width: 28px;
}

.round label:after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  left: 7px;
  opacity: 0;
  position: absolute;
  top: 8px;
  transform: rotate(-45deg);
  width: 12px;
}

.round input[type="checkbox"] {
  visibility: hidden;
}

.round input[type="checkbox"]:checked + label {
  background-color: #66bb6a;
  border-color: #66bb6a;
}

.round input[type="checkbox"]:checked + label:after {
  opacity: 1;
}

/* Routes Design */
.custom-radios div {
  display: inline-block;
}

.custom-radios input[type="radio"] {
  display: none;
}

.custom-radios input[type="radio"] + label {
  color: #333;
  font-family: Arial, sans-serif;
  font-size: 12px;
}

.custom-radios input[type="radio"] + label span {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  line-height: 36px;
}

.custom-radios input[type="radio"] + label span img {
  opacity: 0;
  transition: all 0.3s ease;
}

.custom-radios input[type="radio"]#color-1 + label span {
  background-color: #cb3a31;
  opacity: 1;
}

.custom-radios input[type="radio"]#color-2 + label span {
  background-color: #3267e3;
  opacity: 1;
}

.custom-radios input[type="radio"]#color-3 + label span {
  background-color: #e57200;
  opacity: 1;
}

.custom-radios input[type="radio"]#color-4 + label span {
  background-color: #43936c;
  opacity: 1;
}

.custom-radios input[type="radio"]:checked + label span img {
  opacity: 1;
}

/* .custom-radios input[type="radio"]#color-1:checked + label span {
  opacity: 1;
}

.custom-radios input[type="radio"]#color-2:checked + label span {
  opacity: 1;
}

.custom-radios input[type="radio"]#color-3:checked + label span {
  opacity: 1;
}

.custom-radios input[type="radio"]#color-4:checked + label span {
  opacity: 1;
} */

.toggle input[type="checkbox"] {
  position: relative;
  width: 36px;
  height: 12px;
  -webkit-appearance: none;
  background: #c4c4c4;
  border-color: #c4c4c4;
  outline: none;
  border-radius: 20px;
  margin-left: 8px;
  /* transition: .5s; */
}

.toggle input:checked[type="checkbox"] {
  background: #e5f1ff;
  border: 1px solid #0073e6;
}

.toggle input[type="checkbox"]::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  top: -5px;
  left: 0;
  background: #fff;
  transform: scale(1.1);
  transition: 0.5s;
  box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.1);
}

.toggle input:checked[type="checkbox"]::before {
  left: 20px;
  background: #0073e6;
}

/* Styling Form Radius */
.search {
  position: relative;
}

.search input {
  height: 36px;
  border: 1px solid #d6d4d4;
  border-radius: 6px;
}

.search input:focus {
  box-shadow: none;
}

.search input:valid {
  border: 1px solid #404040;
}

.search select {
  position: absolute;
  top: 4px;
  right: 3px;
  height: 36px;
  width: auto;
  padding: 0 12px !important;
  background: #f5f5f5;
}

.form-control:valid {
  border: 1px solid #404040;
}

.form-select:valid {
  border: 1px solid #404040;
}

.time-text:focus {
  outline: none;
  box-shadow: 0 0 0 1px #757575;
}

/* Styling Card Route */

.card-route:hover {
  background-color: #f5f5f5;
  border: 1px solid #404040 !important;
}

.card-route-clicked {
  background-color: #f5f5f5;
  border: 1.5px solid #404040;
}

/* .card-route:focus{
  background-color: #F5F5F5;
  border: 1.5px solid #404040;
} */

/* Dropdown */

.selectize-input {
  height: 36px !important;
  box-shadow: none !important;
  padding: 6px 10px !important;
  display: inline-block !important;
  width: 100% !important;
  overflow: hidden !important;
  position: relative !important;
  z-index: 1 !important;
  border-radius: 6px;
}

.selectize-input.dropdown-active {
  border-radius: 6px;
}

.selectize-input-invalid {
  height: 36px !important;
  box-shadow: none !important;
  border: 1px solid #cb3a31;
  padding: 6px 12px !important;
  display: inline-block !important;
  width: 100% !important;
  overflow: hidden !important;
  position: relative !important;
  z-index: 1 !important;
  border-radius: 6px;
  border-color: #dc3545;
  padding-right: calc(1.5em + 0.75rem);
  background-image: url("../../assets/img/misc/alert-circle.png");
  /* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e"); */
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.selectize-input:hover {
  border: 1px solid #404040;
}

.selectize-dropdown {
  margin-top: 8px !important;
}

.selectize-control.single .selectize-input:after {
  display: none !important;
}

.item {
  font-size: 14px;
}

.selectize-input.full {
  border: 1.5px solid #404040;
}

/* Dropdown Geofence */

.select-box {
  position: relative;
  display: block;
  outline: none;
  font-size: 12px;
  font-weight: normal;
}

/* @media (min-width: 768px) {
  .select-box {
    width: 70%;
  }
}
@media (min-width: 992px) {
  .select-box {
    width: 50%;
  }
}
@media (min-width: 1200px) {
  .select-box {
    width: 30%;
  }
} */
.select-box__current {
  position: relative;
  cursor: pointer;
  border-radius: 3px;
  height: 36px !important;
  font-size: 14px;
  font-weight: 400;
}

.select-box__current-valid {
  outline: 1px solid #c2c2c2;
}

.select-box__current-invalid {
  outline: 1px solid #cb3a31;
  border-color: #dc3545;
  padding-right: calc(1.5em + 0.75rem);
  background-image: url("../../assets/img/misc/alert-circle.png");
  /* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e"); */
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.select-box__current:hover {
  outline: 1px solid #000000;
}

.select-box__current:focus + .select-box__list {
  opacity: 1;
  -webkit-animation-name: none;
  animation-name: none;
}

.select-box__current:focus + .select-box__list .select-box__option {
  cursor: pointer;
}

.select-box__current:focus .select-box__icon {
  -webkit-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg);
}

.select-box__value {
  display: -webkit-box;
  display: flex;
}

.select-box__input {
  display: none;
}

.select-box__input:checked + .select-box__input-text {
  display: block;
}

.select-box__input-text {
  display: none;
  margin: 0;
  padding: 8px 8px;
  background-color: #fff;
}

.select-box__list {
  position: absolute;
  width: 100%;
  overflow: auto;
  padding: 0;
  list-style: none;
  opacity: 0;
  -webkit-animation-name: HideList;
  animation-name: HideList;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: step-start;
  animation-timing-function: step-start;
  outline: 1px solid #f8f9fa;
  border-radius: 6px;
  z-index: 99 !important;
  filter: drop-shadow(2px 4px 12px rgba(0, 0, 0, 0.1));
  font-size: 14px;
  color: #0a0a0a;
  margin-top: 8px;
}

.select-box__option {
  display: block;
  padding: 15px;
  background-color: #fff;
}

.select-box__option:hover,
.select-box__option:focus {
  color: #0a0a0a;
  background-color: #f5f5f5;
}

@-webkit-keyframes HideList {
  from {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }

  to {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
  }
}

@keyframes HideList {
  from {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }

  to {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
  }
}

/* Dropdown Meters */
.select-meters {
  display: inline-block;
  outline: none;
  font-size: 12px;
  font-weight: normal;
}

/* @media (min-width: 768px) {
  .select-box {
    width: 70%;
  }
}
@media (min-width: 992px) {
  .select-box {
    width: 50%;
  }
}
@media (min-width: 1200px) {
  .select-box {
    width: 30%;
  }
} */
.select-meters__current {
  position: inherit;
  cursor: pointer;
  border-radius: 3px;
  height: 40px !important;
  font-size: 12px;
  font-weight: 400;
}

.select-meters__current-valid {
  outline: 1px solid #c2c2c2;
}

.select-meters__current-invalid {
  outline: 1px solid #cb3a31;
  border-color: #dc3545;
  padding-right: calc(1.5em + 0.75rem);
  background-image: url("../../assets/img/misc/alert-circle.png");
  /* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e"); */
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.select-meters__current:hover {
  outline: 1px solid #000000;
}

.select-meters__current:focus + .select-meters__list {
  opacity: 1;
  -webkit-animation-name: none;
  animation-name: none;
}

.select-meters__current:focus + .select-meters__list .select-meters__option {
  cursor: pointer;
}

.select-meters__current:focus .select-meters__icon {
  -webkit-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg);
}

.select-meters__value {
  display: -webkit-box;
  display: flex;
}

.select-meters__input {
  display: none;
}

.select-meters__input:checked + .select-meters__input-text {
  display: block;
}

.select-meters__input-text {
  display: none;
  margin: 0;
  padding: 8px 8px;
  background-color: #fff;
}

.select-meters__list {
  position: absolute;
  overflow: auto;
  padding: 0;
  list-style: none;
  opacity: 0;
  -webkit-animation-name: HideList;
  animation-name: HideList;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: step-start;
  animation-timing-function: step-start;
  outline: 1px solid #f8f9fa;
  border-radius: 6px;
  z-index: 99 !important;
  filter: drop-shadow(2px 4px 12px rgba(0, 0, 0, 0.1));
  font-size: 12px;
  color: #0a0a0a;
  margin-top: 8px;
  z-index: 100;
}

.select-meters__option {
  display: block;
  padding: 15px;
  background-color: #fff;
}

.select-meters__option:hover,
.select-meters__option:focus {
  color: #0a0a0a;
  background-color: #f5f5f5;
}

/* Selectize */

.selectize-input.focus {
  position: relative;
}

.selectize-input.focus::before {
  content: "";
  display: block;
  background-image: url("../img/misc/search.svg");
  background-repeat: no-repeat;
  height: 100%;
  width: 20px;
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  background-color: #ffffff;
}

.selectize-input.focus.has-items input:focus {
  margin-top: 2px !important;
  margin-left: 0 !important;
}

.selectize-input.focus input:focus {
  margin-top: 2px !important;
  margin-left: 22px !important;
}

.selectize-input.focus.input-active input:focus::placeholder {
  opacity: 1 !important;
}

.selectize-dropdown-content {
  max-height: none !important;
  /* border style form modal */
}

.border-ops {
  border: 1px solid #c2c2c2;
}

.border-ops-mon {
  border-top: 1px solid #c2c2c2;
  border-left: 1px solid #c2c2c2;
  border-bottom: 1px solid #c2c2c2;
}

.border-ops-mon:hover {
  border-top: 1px solid #404040;
  border-left: 1px solid #404040;
  border-right: 1px solid #404040;
  border-bottom: 1px solid #404040;
}

.border-ops-tue {
  border-top: 1px solid #c2c2c2;
  border-bottom: 1px solid #c2c2c2;
  border-left: 1px solid #c2c2c2;
  border-right: 1px solid #c2c2c2;
}

.border-ops-tue:hover {
  border-top: 1px solid #404040;
  border-left: 1px solid #404040;
  border-right: 1px solid #404040;
  border-bottom: 1px solid #404040;
}

.border-ops-wed {
  border-top: 1px solid #c2c2c2;
  border-bottom: 1px solid #c2c2c2;
  border-right: 1px solid #c2c2c2;
}

.border-ops-wed:hover {
  border-top: 1px solid #404040;
  border-left: 1px solid #404040;
  border-right: 1px solid #404040;
  border-bottom: 1px solid #404040;
}

.border-ops-thu {
  border-top: 1px solid #c2c2c2;
  border-bottom: 1px solid #c2c2c2;
  border-right: 1px solid #c2c2c2;
}

.border-ops-thu:hover {
  border-top: 1px solid #404040;
  border-left: 1px solid #404040;
  border-right: 1px solid #404040;
  border-bottom: 1px solid #404040;
}

.border-ops-fri {
  border-top: 1px solid #c2c2c2;
  border-bottom: 1px solid #c2c2c2;
  border-right: 1px solid #c2c2c2;
}

.border-ops-fri:hover {
  border-top: 1px solid #404040;
  border-left: 1px solid #404040;
  border-right: 1px solid #404040;
  border-bottom: 1px solid #404040;
}

.border-ops-sat {
  border-top: 1px solid #c2c2c2;
  border-bottom: 1px solid #c2c2c2;
  border-right: 1px solid #c2c2c2;
}

.border-ops-sat:hover {
  border-top: 1px solid #404040;
  border-left: 1px solid #404040;
  border-right: 1px solid #404040;
  border-bottom: 1px solid #404040;
}

.border-ops-sun {
  border-top: 1px solid #c2c2c2;
  border-bottom: 1px solid #c2c2c2;
  border-right: 1px solid #c2c2c2;
}

.border-ops-sun:hover {
  border-top: 1px solid #404040;
  border-left: 1px solid #404040;
  border-right: 1px solid #404040;
  border-bottom: 1px solid #404040;
}

.geo-mon-checked {
  border-top: 1px solid #404040;
  border-left: 1px solid #404040;
  border-bottom: 1px solid #404040;
}

.geo-tue-checked {
  border-top: 1px solid #404040;
  border-bottom: 1px solid #404040;
  border-left: 1px solid #404040;
  border-right: 1px solid #404040;
}

.geo-wed-checked {
  border-top: 1px solid #404040;
  border-bottom: 1px solid #404040;
  border-right: 1px solid #404040;
}

.geo-thu-checked {
  border-top: 1px solid #404040;
  border-bottom: 1px solid #404040;
  border-right: 1px solid #404040;
}

.geo-fri-checked {
  border-top: 1px solid #404040;
  border-bottom: 1px solid #404040;
  border-right: 1px solid #404040;
}

.geo-sat-checked {
  border-top: 1px solid #404040;
  border-bottom: 1px solid #404040;
  border-right: 1px solid #404040;
}

.geo-sun-checked {
  border-top: 1px solid #404040;
  border-bottom: 1px solid #404040;
  border-right: 1px solid #404040;
}

.geo-mon-validator {
  border-top: 1px solid #cb3a31;
  border-left: 1px solid #cb3a31;
  border-bottom: 1px solid #cb3a31;
}

.geo-tue-validator {
  border-top: 1px solid #cb3a31;
  border-bottom: 1px solid #cb3a31;
  border-left: 1px solid #cb3a31;
  border-right: 1px solid #cb3a31;
}

.geo-wed-validator {
  border-top: 1px solid #cb3a31;
  border-bottom: 1px solid #cb3a31;
  border-right: 1px solid #cb3a31;
}

.geo-thu-validator {
  border-top: 1px solid #cb3a31;
  border-bottom: 1px solid #cb3a31;
  border-right: 1px solid #cb3a31;
}

.geo-fri-validator {
  border-top: 1px solid #cb3a31;
  border-bottom: 1px solid #cb3a31;
  border-right: 1px solid #cb3a31;
}

.geo-sat-validator {
  border-top: 1px solid #cb3a31;
  border-bottom: 1px solid #cb3a31;
  border-right: 1px solid #cb3a31;
}

.geo-sun-validator {
  border-top: 1px solid #cb3a31;
  border-bottom: 1px solid #cb3a31;
  border-right: 1px solid #cb3a31;
}

.opi-mon-checked {
  border-top: 1px solid #404040;
  border-left: 1px solid #404040;
  border-bottom: 1px solid #404040;
}

.opi-tue-checked {
  border-top: 1px solid #404040;
  border-bottom: 1px solid #404040;
  border-left: 1px solid #404040;
  border-right: 1px solid #404040;
}

.opi-wed-checked {
  border-top: 1px solid #404040;
  border-bottom: 1px solid #404040;
  border-right: 1px solid #404040;
}

.opi-thu-checked {
  border-top: 1px solid #404040;
  border-bottom: 1px solid #404040;
  border-right: 1px solid #404040;
}

.opi-fri-checked {
  border-top: 1px solid #404040;
  border-bottom: 1px solid #404040;
  border-right: 1px solid #404040;
}

.opi-sat-checked {
  border-top: 1px solid #404040;
  border-bottom: 1px solid #404040;
  border-right: 1px solid #404040;
}

.opi-sun-checked {
  border-top: 1px solid #404040;
  border-bottom: 1px solid #404040;
  border-right: 1px solid #404040;
}

.opi-mon-validator {
  border-top: 1px solid #cb3a31;
  border-left: 1px solid #cb3a31;
  border-bottom: 1px solid #cb3a31;
}

.opi-tue-validator {
  border-top: 1px solid #cb3a31;
  border-bottom: 1px solid #cb3a31;
  border-left: 1px solid #cb3a31;
  border-right: 1px solid #cb3a31;
}

.opi-wed-validator {
  border-top: 1px solid #cb3a31;
  border-bottom: 1px solid #cb3a31;
  border-right: 1px solid #cb3a31;
}

.opi-thu-validator {
  border-top: 1px solid #cb3a31;
  border-bottom: 1px solid #cb3a31;
  border-right: 1px solid #cb3a31;
}

.opi-fri-validator {
  border-top: 1px solid #cb3a31;
  border-bottom: 1px solid #cb3a31;
  border-right: 1px solid #cb3a31;
}

.opi-sat-validator {
  border-top: 1px solid #cb3a31;
  border-bottom: 1px solid #cb3a31;
  border-right: 1px solid #cb3a31;
}

.opi-sun-validator {
  border-top: 1px solid #cb3a31;
  border-bottom: 1px solid #cb3a31;
  border-right: 1px solid #cb3a31;
}

.invalid-opstime {
  display: block;
  margin-top: 0.25rem;
  font-size: 0.875em;
  color: #dc3545;
  margin-left: 32px;
  position: absolute;
}

.invalid-opstime-geo {
  display: block;
  margin-top: 0.25rem;
  font-size: 0.875em;
  color: #dc3545;
  margin-left: 32px;
  position: absolute;
}

.invalid-select-box-geo {
  display: block;
  margin-top: 0.25rem;
  font-size: 0.875em;
  color: #dc3545;
  position: absolute;
}

.invalid-selectize {
  display: block;
  font-size: 0.875em;
  color: #dc3545;
  position: absolute;
}

.invalid-feedback {
  position: absolute;
  width: auto;
}

form {
  margin: 0;
  padding: 0;
  display: block;
}

.image-upload {
  cursor: pointer;
  border-radius: 6px;
}

.image-upload:hover {
  border: 1px solid #404040;
}

.poi-form-name:hover {
  border: 1px solid #404040;
}

.poi-form-contact:hover {
  border: 1px solid #404040;
}

.poi-form-phone:hover {
  border: 1px solid #404040;
}

.geo-form-name:hover {
  border: 1px solid #404040;
}

.geo-form-vehicle:hover {
  border: 1px solid #404040;
}

.route-form:hover {
  border: 1px solid #404040;
}

input:placeholder-shown {
  font-size: 12px;
}

.route-form {
  height: 36px;
}

.geo-form-name {
  height: 36px;
  padding-top: 14px; padding-left: 12px; padding-bottom: 14px; border-radius: 6px;
}

.geo-form-vehicle {
  height: 36px;
}

.poi-form-name {
  height: 36px;
}

.poi-form-contact {
  height: 36px;
  padding-top: 14px; padding-left: 12px; padding-bottom: 14px; border-radius: 6px;
}

.poi-form-phone {
  height: 36px;
  padding-top: 14px; padding-left: 12px; padding-bottom: 14px; border-radius: 6px;
}

.poi-form-description:placeholder-shown {
  font-size: 12px;
}

.poi-form-description:hover {
  border: 1px solid #404040;
}

.poi-form-address:placeholder-shown {
  font-size: 12px;
}

.poi-form-address:hover {
  border: 1px solid #404040;
}

.form-control.is-valid:focus,
.was-validated :valid.form-control {
  border-color: inherit !important;
  background-image: inherit !important;
  box-shadow: inherit !important;
}

.form-select.is-valid:focus,
.was-validated :valid.form-select {
  border-color: inherit !important;
  background-image: inherit !important;
  box-shadow: inherit !important;
}

.form-check-input.is-valid:focus,
.was-validated :valid.form-check-input {
  border-color: inherit !important;
  background-image: inherit !important;
  box-shadow: inherit !important;
}

.form-check-input.is-valid:focus,
.was-validated :valid.form-check-input.selectall {
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-color: rgba(0, 0, 0, 0.25) !important;
  background-image: inherit !important;
  box-shadow: inherit !important;
}

.form-check-input.is-valid:focus,
.was-validated :valid.form-check-input.selectall2 {
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-color: rgba(0, 0, 0, 0.25) !important;
  background-image: inherit !important;
  box-shadow: inherit !important;
}

.form-check-input.is-valid:focus,
.was-validated :valid.form-check-input.poi-status {
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-color: rgba(0, 0, 0, 0.25) !important;
  background-image: inherit !important;
  box-shadow: inherit !important;
}

.form-check-input.is-valid:focus,
.was-validated :valid.form-check-input.geo-status {
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-color: rgba(0, 0, 0, 0.25) !important;
  background-image: inherit !important;
  box-shadow: inherit !important;
}

.form-check-input.is-valid:focus,
.was-validated :valid.form-check-input.avoid-toll {
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-color: rgba(0, 0, 0, 0.25) !important;
  background-image: inherit !important;
  box-shadow: inherit !important;
}

.was-validated .form-control:invalid {
  background-image: url("../../assets/img/misc/alert-circle.png");
}

#modal-route .modal-body {
  padding-bottom: calc(71px + 2rem);
}

.select2-dropdown {
  border: 0 !important;
  border-radius: 4px !important;
  overflow: hidden;
  margin: 8px 0 !important;
  filter: drop-shadow(2px 4px 12px rgba(0, 0, 0, 0.1));
}

.search .select2.select2-container.select2-container--default {
  position: absolute;
  top: 4px;
  right: 3px;
  height: 30px;
  width: auto !important;
  padding: 8px !important;
  background: #f5f5f5;
  display: flex;
  align-items: center;
  border-radius: 4px !important;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  padding-left: 0;
  font-size: 12px;
}

.search .select2-container--default .select2-selection--single {
  background-color: transparent !important;
  border: 0 !important;
}

.search
  .select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  top: calc(50% - 1px);
  height: 0;
  right: 4px;
  font-size: 12px;
}

.select2-container--default .select2-results__option {
  padding: 8px;
  background: #ffffff;
  font-size: 12px;
}

.select2-container--default
  .select2-results__option--highlighted.select2-results__option--selectable {
  background: #f5f5f5;
  color: #333333;
}

.select2-container--default
  .select2-selection--single
  .select2-selection__arrow
  b {
  border: 0;
  background-image: url("../../assets/img/misc/arrow-down.png");
  height: 8px;
  width: 8px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.select2-container--default
  .select2-selection--single
  .select2-selection__placeholder {
  color: #333333;
}

.delete-header {
  font-size: 28px;
  font-weight: 500;
  margin-top: 32px;
  margin-left: 32px;
  margin-bottom: 16px;
}

.delete-body {
  font-size: 14px;
  font-weight: 400;
  margin-left: 32px;
  margin-right: 32px;
  margin-bottom: 40px;
}

.delete-button {
  display: flex;
  justify-content: flex-end;
  margin-right: 32px;
  margin-bottom: 32px;
}

.add-modal-header {
  font-size: 28px;
  font-weight: 500;
  margin-top: 32px;
  margin-left: 32px;
  margin-bottom: 16px;
}

.add-modal-body {
  font-size: 14px;
  font-weight: 400;
  margin-left: 32px;
  margin-right: 32px;
  margin-bottom: 40px;
}

.add-modal-button {
  display: flex;
  justify-content: flex-end;
  margin-right: 32px;
  margin-bottom: 32px;
}

.btn-light {
  border: 1px solid #c2c2c2;
  background-color: white;
  margin-right: 10px;
}

.btn-light:hover {
  border: 1px solid #c2c2c2;
}

.modal-dialog-890 {
  max-width: 890px;
}

.modal-dialog-876{
  max-width: 876px;
}

.modal-content-720 {
  height: 720px;
}

.modal-content-640{
  height: 640px;
}

.btn-close-modal {
  margin-left: 32px;
  margin-bottom: 24px;
  margin-top: 24px;
}

.modal-top {
  padding-left: 0px;
  margin-left: 32px;
  margin-right: 32px;
}

.detail-poi {
  font-size: 20px;
  font-weight: 600;
}

.poi-switch {
  text-align: left;
  font-size: 12px;
  font-weight: 500;
}

.poi-field {
  margin-left: 22px;
  margin-right: 22px;
  margin-top: 16px;
}

.poi-field2{
  margin-left: 22px; margin-right: 22px; margin-top: 24px;
}

.poi-field2-title{
  font-size: 12px; font-weight: 600; margin-bottom: 8px;
}

.geo-field2-title{
  font-size: 12px; font-weight: 600; margin-bottom: 8px;
}

.route-field2-title{
  font-size: 12px; font-weight: 600; margin-bottom: 8px;
}

.poi-field-title {
  margin-bottom: 8px;
  font-size: 12px;
  font-weight: 600;
}

.image-upload{
  width: 232; height: 188px;
}

.image-upload-preview{
  object-fit: cover;
}

.textarea-noresize{
  resize: none; height: 68px;
}

.mt-16{
  margin-top: 16px;
}

.mt-24{
  margin-top: 24px;
}

.ml-22{
  margin-left: 22px;
}


.mr-22{
  margin-right: 22px;
}

.mr-32{
  margin-right: 32px;
}

.ml-32{
  margin-left: 32px;
}

.bottom-info{
  font-size: 20px; font-weight: 600; margin-bottom: 16px; margin-left: 32px; margin-top: 40px;
}

.geo-bottom-info{
  margin-bottom: 8px; font-weight: 600;
}

.geo-assigned-vehicle{
  width: 379px; padding-top: 14px; padding-left: 12px; padding-bottom: 14px; font-weight: 400;
}

.poi-textfield{
  padding-top: 14px; padding-left: 12px; padding-bottom: 14px; border-radius: 6px;
}

.route-textfield{
  padding-top: 14px; padding-left: 12px; padding-bottom: 14px; border-radius: 6px;
}

.interchange-image{
  display: flex; justify-content: center; align-items:center; height: 70px;
}
.poi-time-ops{
  margin-left: 32px; margin-right: 32px; margin-top: 24px;
}

.geofence-time-ops{
  margin-left: 32px; margin-right: 32px; margin-top: 24px;
}

.poi-everyday{
  text-align: left; font-size: 12px; align-items: center; display: flex;

}

.poi-everyday-toggle{
  border-radius: 4px; border: 1px solid #404040;
}

.select-day{
  margin-left: 32px; margin-right: 32px; height: 100px;
}

.select-day2{
  margin-left: 32px; margin-right: 32px; height: 100px;
}

.monday{
  border-radius: 6px 0px 0px 6px !important;
}

.sunday{
  border-radius: 0px 6px 6px 0px !important;
}

.ops-input-text{
  margin-top: 7px; font-size: 10px; font-weight: 400; width: 83px; height: 26px; border: none; border-radius: 4px;
}

.submit-form{
  background-color: #C2C2C2; color: white !important;
}

.ht-720{
  height: 720px;
}

.geofence-time-ops-title{
  margin-bottom: 8px; font-size: 12px; font-weight: 600;
}

.detail-geofence-title{
  font-size: 20px; font-weight: 600;
}

.assigned-info-title{
  font-size: 20px; font-weight: 600;
}

.geofence-switch{
  text-align: left; font-size: 12px; font-weight: 500;
}

.placeholder-select-box-input{
  color: #757575; padding-top: 10px; padding-left: 10px; padding-bottom: 8px; height: 36px; border-radius: 6px;
}

.select-box-input-text{
  padding-top: 8px; padding-left: 12px; padding-bottom: 8px; height: 36px; border-radius: 6px;
}

.geo-ops-switch{
  text-align: left; font-size: 12px; margin-bottom: 8px; align-items: center; display: flex;
}

.geo-everyday-toggle{
  border-radius: 4px; border: 1px solid #404040;
}

.geofence-field3{
  font-size: 20px; margin-top: 20px; margin-left: 32px; font-weight: 600; margin-bottom: 16px;
}

.modal-route-title{
  font-size: 20px; margin-top: 24px; margin-left: 32px; font-weight: 600;
}

.route-field{
  margin-left: 22px; margin-right: 22px; margin-top: 16px;
}

.route-result{
  font-size: 20px; font-weight: 600; margin-top: 20px;
}

.route-result-options{
  height: 82px; text-align: left; 
}

.avoid-toll{
  text-align: left; font-size: 12px; font-weight: 500; margin-top: 20px;
}