/* selectize */
.selectize-input {
    /* width: 342px; */
    width: 100%;
    height: 44px !important;
    box-shadow: none !important;
    padding: 10px 12px !important;
    display: inline-block !important;
    overflow: hidden !important;
    position: relative !important;
    z-index: 1 !important;
    border-radius: 6px;
    border: 1px solid #C2C2C2;
}

.selectize-control{
    position: unset;
}

.selectize-input.dropdown-active {
    border-radius: 6px;
}

.selectize-input-invalid {
    width: 342px;
    height: 44px !important;
    box-shadow: none !important;
    border: 1px solid #cb3a31;
    padding: 10px 12px !important;
    display: inline-block !important;
    overflow: hidden !important;
    position: relative !important;
    z-index: 2 !important;
    border-radius: 6px;
    border-color: #dc3545;
    padding-right: calc(1.5em + 0.75rem);
    background-image: url("../../assets/img/misc/alert-circle.png");
    /* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e"); */
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.invalid-selectize-1 {
    display: block;
    font-size: 0.875em;
    color: #dc3545;
    position: absolute;
}

.invalid-selectize-2 {
    display: block;
    font-size: 0.875em;
    color: #dc3545;
    position: absolute;
}

.selectize-input:hover {
    border: 1px solid #404040;
}

.selectize-dropdown {
    margin-top: 8px !important;
}

.selectize-control.single .selectize-input:after {
    content: "";
    display: block;
    background-image: url("../img/misc/arrow-down.png") !important;
    background-repeat: no-repeat;
    height: 100%;
    width: 20px;
    /* position: relative;
    top: -9.5px !important;
    left: 21em;
    z-index: 1; */
    position: absolute;
    top: 50%;
    right: 17px;
    margin-top: -3px;
    background-color: none;
    border: none;
}

.selectize-control.single .selectize-input.hidden:after{
    display: none;
}


.selectize-control.single .selectize-input.dropdown-active:after{
    transform: translateY(-90%) translateX(-30%) rotate(180deg);
    margin-top: 1.5px;
}

.selectize-control.single .selectize-input.dropdown-active:before{
    margin-top: 3px;
}

.item {
    font-size: 14px;
}

.selectize-input.full {
    border: 1.5px solid #404040;
}
.selectize-input.focus {
    position: relative;
}

.selectize-input.focus::before {
    content: "";
    display: block;
    background-image: url("../img/misc/search.svg");
    background-repeat: no-repeat;
    height: 100%;
    width: 20px;
    position: absolute;
    top: 8px;
    left: 8px;
    z-index: 1;
    background-color: none;
    border: none;
}

.dropdown-fleet-type .selectize-input.focus::before {
    display: none;
    background-image: none;
    background-repeat: no-repeat;
    height: 100%;
    z-index: 1;
    background-color: none;
    border: none;
}

.dropdown-fleet-type .selectize-input.focus input:focus {
    margin-top: 2px !important;
    margin-left: 0 !important;
}


.selectize-input.focus.has-items input:focus {
    margin-top: 2px !important;
    margin-left: 0 !important;
}

.selectize-input.focus input:focus {
    margin-top: 2px !important;
    margin-left: 22px !important;
}

.selectize-input.focus.input-active input:focus::placeholder {
    opacity: 1 !important;
}

.selectize-dropdown-content {
    max-height: none !important;
    /* border style form modal */
}

.selectize-dropdown .selectize-dropdown-content{
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    padding-left: 16px !important;
    padding-right: 16px !important;
}

.selectize-dropdown .selectize-dropdown-content .option{
    padding: 12px;
}

.selectize-dropdown-content{
    position: absolute;
    z-index: 2;
    /* top: -260px; */
    transform: translateY(-260px);
    background: #FFFFFF;
    box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.1);
    width: 342px;
    height: 200px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 400;
    color: #0a0a0a;
}
#dropdown-search-fleet.fleet ~ .selectize-control .selectize-input {
    width: 100%;
    /* border: 1.5px solid #404040; */
}
#dropdown-search2-fleet.fleet2 ~ .selectize-control .selectize-input {
    width: 100%;
    /* border: 1.5px solid #404040; */
}

#dropdown-search-fleet.fleet ~ .selectize-control.single .selectize-input:after {
    left: 34em;
}

#dropdown-search2-fleet.fleet2 ~ .selectize-control.single .selectize-input:after {
    left: 34em;
}