/* inline to external */
/* body{
  background-image: url("../../assets/img/map4.png"); 
  background-size:cover ;
} */

ul.profile-style {
  right: 2px;
  left: auto !important;
}

input.bg-icon-search {
  background-image: url("../../assets/img/misc/search-icon.png") !important;
}

.mt8 {
  margin-top: -8px;
}

input.hidden {
  visibility: hidden;
}

.pr-0 {
  padding-right: 0px;
}

.pl-25 {
  padding-left: 25px;
}

.mt-42 {
  margin-top: 42px;
}

.font-20 {
  font-size: 20px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mt-12 {
  margin-top: 12px;
}

.bg-button-route {
  background-color: #C2C2C2;
  color: white;
}

/* fix pixel (perfect pixel)*/
#monitoring-section .monitoring-wrapper-parent .monitoring-sidebar .sidebar-wrapper .sidebar-tab {
  height: calc(88% - 16px);
}

#monitoring-section .monitoring-wrapper-parent .monitoring-sidebar .sidebar-wrapper .sidebar-tab .sidebar-tab-content .sidebar-tab-item.active {
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
  padding-top: 17px;
}

#monitoring-section .monitoring-wrapper-parent .monitoring-right-content .monitoring-maps-navigation .maps-navigation-button-wrapper button:not(:last-child) {
  margin-bottom: 12px;
}

.p-user-list {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 8px;
  padding-right: 8px;
}

.user-lists {
  overflow-y: scroll;
}

.user-item-right {
  padding-left: 8px;
}

.user-item-left {
  padding: 0;
  width: 40px;
}

#monitoring-section .monitoring-wrapper-parent .monitoring-sidebar .sidebar-wrapper .sidebar-tab .sidebar-tab-button button.fleet {
  /* icon tab fleet */
  background-position-x: 60px;
}

#monitoring-section .monitoring-wrapper-parent .monitoring-sidebar .sidebar-wrapper .sidebar-tab .sidebar-tab-button button.activities {
  /* icon tab activities */
  background-position-x: 43px
}

.font-26 {
  font-size: 26px;
}

.font-12 {
  font-size: 12px;
}

/* list-item */
#monitoring-section .monitoring-wrapper-parent .monitoring-sidebar .sidebar-wrapper .sidebar-tab .sidebar-tab-content .sidebar-tab-item .sidebar-tab-item-content {
  padding-top: 8px;
  overflow: hidden;
}

.user-item {
  border-bottom: 0.5px solid #c2c2c2;
}

a.text-dark:link {
  text-decoration: none;
}

.user-item:hover {
  background-color: #e5e5e5;
  cursor: pointer;
}

/* style side-left */
#monitoring-section .monitoring-wrapper-parent .monitoring-sidebar .sidebar-wrapper {
  width: 400px !important;
}

#monitoring-section .monitoring-wrapper-parent .monitoring-sidebar {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
}

#monitoring-section .monitoring-wrapper-parent .monitoring-sidebar-sticky-badge.active {
  transform: rotate(-90deg) translate(calc(-27% - 24px), -110%);
}

#monitoring-section .monitoring-wrapper-parent .monitoring-sidebar-button-collapse {
  top: 36px;
}

/* scrollbar-y sidebar style */
div.user-lists {
  scrollbar-width: thin;
  scrollbar-color: grey white;
}

div.user-lists::-webkit-scrollbar {
  width: 0px;
  /* width of the entire scrollbar */
}

div.user-lists::-webkit-scrollbar-track {
  background: white;
  /* color of the tracking area */
}

div.user-lists::-webkit-scrollbar-thumb {
  background-color: grey;
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
  /* border: 3px solid orange;  creates padding around scroll thumb */
}

/* avatar width */
.img-avatar {
  width: 40px;
  height: 40px;
}

.car {
  box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.1);
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background-color: white !important;
}

/* search form */
form {
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="search"] {
  border: none;
  background: transparent;
  margin: 0;
  padding: 7px 0px;
  font-size: 12px;
  color: inherit;
  border: 1px solid transparent;
  border-radius: 10px;
}

input[type="search"]::placeholder {
  color: #bbb;
}

input[type="search"]:focus {
  box-shadow: 0 0 3px 0 #c2c2c2;
  border: 1.5px solid #404040;
  outline: none;
}

form.nosubmit {
  border: none;
  padding: 0;
  width: 100%;
}

input.nosubmit {
  border: 1px solid #c2c2c2;
  border-radius: 6px;
  width: 100%;
  height: 36px;
  padding: 9px 4px 9px 40px;
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: left;
  background-position-x: 10px;
}

input.nosubmit:hover {
  border: 1px solid #404040;
}

/*  */
.hr-line {
  width: 24px;
  border: 1px thin black;
}

.head-title {
  font-weight: 700;
}

.sidenav {
  height: 100%;
  width: 236px;
  position: fixed;
  z-index: 99;
  top: 36;
  left: 0;
  background-color: #F5F5F5;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav-wrapper {
  padding-top: 32px;
  padding-left: 24px;
}

.sidenav button {
  padding-top: 8px;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  color: #818181;
  display: block;
  background: none;
  color: inherit;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  transform: translateX(-5px);
}

.sidenav button:hover {
  color: #0073E5;
}

.sidenav button:focus {
  color: #0073E5;
}

.sidenav-menu {
  padding-top: 44px;
}

.main-content {
  margin-left: 236px;
  font-size: 16px;
  padding: 0px 10px;
  overflow-x: hidden;
}

.main-head {
  /* border-bottom: 1px solid #E0E0E0; */
  padding-bottom: 12px;
  margin-bottom: 12px;
  height: 100%;
  width: 100%;
}

.main-title {
  font-weight: 700;
  font-size: 20px;
}

.main-tab-menu {
  padding-top: 32px;
  padding-left: 24px;
}

/*  */
.line-data {
  width: 36px;
  height: 0px;
  border: 1px solid #CFCFCF;
  transform: rotate(90deg);
  margin-top: 10px;
}

.nav-tabs .nav-link.active {
  border-color: #fff #fff blue;
  border-width: revert;
  color: #0A0A0A;
  font-weight: 500;
}

.nav-tabs .nav-link {
  color: #757575;
}

.add-data {
  margin-top: 50px;
  margin-left: 24px;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  border-color: #fff #fff rgb(0, 94, 255);
  color: #353030;
  border-width: revert;
}

a.btn-create:hover {
  background-color: #007bff25;
  border: 1px solid #007bff;
  color: #007bff !important;
}

.icon-bottom-create,
.icon-bottom-create-focus {
  width: 13px;
  height: 16px;
  margin-right: 5px;
}

.translate-tc {
  transform: translate(-18%, -50%)
}

.badge {
  padding: 0.35em 0.50em;
  font-size: 10px;
}

.btn-bottom {
  /* padding: 16px 216px; */
  display: flex;
  justify-content: center;
}

.btn-back {
  margin-right: 540px;
}

.bottom-content {
  height: 80px;
  width: 100%;
  position: fixed;
  z-index: 1;
  bottom: 0;
  left: 0;
  background-color: #F5F5F5;
  overflow-x: hidden;
  background: #FFFFFF;
  margin-left: 118px;
  box-shadow: -1px -1px 1px rgba(0, 0, 0, 0.12);
}

.top-nav {
  height: 76px;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 60px;
  left: 0;
  background-color: #F5F5F5;
  overflow-x: hidden;
  background: #FFFFFF;
  margin-left: 145px;
  box-shadow: 2px -1px 1px 2px rgba(0, 0, 0, 0.12);
}

#monitoring-section {
  overflow-y: auto;
}

.line-top {
  height: 0;
  width: 401.33px;
  border: 3px solid #0073E6;
  position: absolute;
  bottom: -3px;
  left: 87px;
}

button.back-style {
  border-radius: 4px;
  background: #FFFFFF;
  padding: 12px 24px;
  font-weight: 500;
  font-size: 16px;
}

button.next-style {
  background: #E0E0E0;
  border-radius: 4px;
  padding: 12px 24px;
  font-weight: 600;
  font-size: 16px;
  color: #FFFFFF;
}

.map-cdt {
  width: 100%;
  height: 84%;
  border: 1px solid #CFCFCF;
  box-sizing: border-box;
  border-radius: 4px;
  background: url('../img/map-form.png');
}

.src-map {
  position: relative;
  top: 0;
  padding: 10px;
  height: 28px;
}

input.inp-map {
  padding-left: 6px;
  font-weight: 400;
  font-size: 12px;
  color: #757575;
}

.set-map {
  position: relative;
  top: 90px;
  padding: 10px;
  display: flex;
  justify-content: end;
  height: 50px;
}

button.btn-form-map {
  /* width: 70px; */
  height: 24px;
  background: #0073E6;
  border-radius: 4px;
  font-weight: 600;
  font-size: 10px;
  color: #FFFFFF;
  padding: 4px;
}

/* form */
.order-input {
  width: 100%;
  height: 44px;
  background-color: #fff !important;
  border: 1px solid #E0E0E0;
}

.container-form {
  padding-bottom: 150px;
  padding-top: 150px;
}

.order-sched {
  width: 100%;
  height: 44px;
  border: 1px solid #E0E0E0;
}

.wo-dropdown .selectize-input {
  border: 1px solid #E0E0E0;
}

.pl-60 {
  padding-left: 60px;
}

.order-label {
  font-weight: 500;
  font-size: 14px;
}

.order-title {
  font-weight: 500;
  font-size: 20px;
}

.datepicker-image {
  margin-top: 14px;
  margin-left: 8px;
}

input.datepicker-form {
  cursor: pointer;
  padding-left: 32px;
}

input.datepicker-form:hover {
  border: 1px solid #404040;
}

input.datepicker-form::-webkit-input-placeholder {
  /* Edge */
  font-weight: 400;
  font-size: 14px;
}

input.datepicker-form:-ms-input-placeholder {
  /* Internet Explorer */
  font-weight: 400;
  font-size: 14px;
}

input.datepicker-form::placeholder {
  font-weight: 400;
  font-size: 14px;
}

input.order-input::-webkit-input-placeholder {
  /* Edge */
  color: #0A0A0A;
}

input.order-input:-ms-input-placeholder {
  /* Internet Explorer */
  color: #0A0A0A;
}

input.order-input::placeholder {
  color: #0A0A0A;
}

.style-tab {
  padding: 12px;
  font-weight: 600 !important;
  font-size: 16px !important;
}

.style-tab-active {
  background-color: #E5F1FF !important;
  border-radius: 8px;
  padding: 12px;
  color: #0073E5 !important;
  font-weight: 600 !important;
  font-size: 16px !important;
  width: 188px;
  text-align: start
}

.textarea-noresize {
  resize: none;
  height: 88px;
}

.map-noresize {
  resize: none;
  height: 84%;
}

#wo-description-notes:placeholder-shown {
  font-size: 12px;
}

#wo-description-notes:hover {
  border: 1px solid #404040;
}

#wo-description-notes {
  background: #FFFFFF;
  border: 1px solid #E0E0E0;
  border-radius: 4px;
  padding: 0.375rem 0.75rem;
}

#wo-description-address {
  background: #FFFFFF;
  border: 1px solid #E0E0E0;
  border-radius: 4px;
  padding: 0.375rem 0.75rem;
}

#wo-description-address:hover {
  border: 1px solid #404040;
}

.wo-phone {
  background: #FFFFFF;
  border: 1px solid #E0E0E0;
  border-radius: 4px;
  padding: 0.375rem 0.75rem;
}

.wo-phone:hover {
  border: 1px solid #404040;
}

.wo-dropdown .selectize-dropdown-content {
  transform: none;
  width: 100%;
}

.mt-40 {
  margin-top: 40px;
}

.wo-nama {
  width: 100%;
  height: 44px;
  background: #FFFFFF;
  border: 1px solid #E0E0E0;
  border-radius: 4px;
  padding: 10px;
  color: #0A0A0A;
}

.wo-nama:hover {
  border: 1px solid #404040;
}

span.optional {
  font-style: italic;
  font-weight: normal;
  color: #b3adad;
}

/* validation */
.was-validated .form-control:invalid {
  background-image: url('../img/misc/alert-circle.png');
}

.form-control.is-valid:focus,
.was-validated :valid.form-control {
  border-color: inherit !important;
  background-image: inherit !important;
  box-shadow: inherit !important;
}

.invalid-selectize {
  display: block;
  font-size: 0.875em;
  color: #dc3545;
}

.selectize-input-invalid {
  width: 100% !important;
  border: 1px solid #cb3a31 !important;
}

.selectize-input-invalid::after {
  display: none !important;
}

.selectize-control {
  position: relative !important;
}

.selectize-input.focus>.item {
  margin-left: 20px;
}

.selectize-input.full {
  border: 1px solid #E0E0E0 !important;
}