/* inline to external */
/* body{
  background-image: url("../../assets/img/map4.png"); 
  background-size:cover ;
} */

ul.profile-style{
    right: 2px; 
    left: auto !important;
}
input.bg-icon-search{
    background-image: url("../../assets/img/misc/search-icon.png") !important;
}
.mt8{
    margin-top: -8px;
}
input.hidden{
    visibility: hidden;
}
.pr-0{
    padding-right: 0px;
}
.pl-25{
    padding-left: 25px;
}
.mt-42{
    margin-top: 42px;
}
.font-20{
    font-size: 20px;
}
.mb-8{
    margin-bottom: 8px;
}
.mt-12{
    margin-top: 12px;
}
.bg-button-route{
    background-color: #C2C2C2; 
    color: white;
}

/* fix pixel (perfect pixel)*/
#monitoring-section
    .monitoring-wrapper-parent
    .monitoring-sidebar
    .sidebar-wrapper
    .sidebar-tab {
    height: calc(88% - 16px);
}
#monitoring-section
    .monitoring-wrapper-parent
    .monitoring-sidebar
    .sidebar-wrapper
    .sidebar-tab
    .sidebar-tab-content
    .sidebar-tab-item.active {
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    padding-top: 17px;
}
#monitoring-section
    .monitoring-wrapper-parent
    .monitoring-right-content
    .monitoring-maps-navigation
    .maps-navigation-button-wrapper
    button:not(:last-child) {
    margin-bottom: 12px;
}
.p-user-list {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 8px;
    padding-right: 8px;
}
.user-lists {
    overflow-y: scroll;
}
.user-item-right {
    padding-left: 8px;
}
.user-item-left {
    padding: 0;
    width: 40px;
}
#monitoring-section
.monitoring-wrapper-parent
.monitoring-sidebar
.sidebar-wrapper
.sidebar-tab
.sidebar-tab-button
button.fleet {
    /* icon tab fleet */
    background-position-x: 60px;
}
#monitoring-section
.monitoring-wrapper-parent
.monitoring-sidebar
.sidebar-wrapper
.sidebar-tab
.sidebar-tab-button
button.activities {
    /* icon tab activities */
    background-position-x: 43px
}
.font-26 {
    font-size: 26px;
}
.font-12 {
    font-size: 12px;
}

/* list-item */
#monitoring-section
    .monitoring-wrapper-parent
    .monitoring-sidebar
    .sidebar-wrapper
    .sidebar-tab
    .sidebar-tab-content
    .sidebar-tab-item
    .sidebar-tab-item-content {
    padding-top: 8px;
    overflow: hidden;
}
.user-item {
    border-bottom: 0.5px solid #c2c2c2;
}
a.text-dark:link {
    text-decoration: none;
}
.user-item:hover {
    background-color: #e5e5e5;
    cursor: pointer;
}

/* style side-left */
#monitoring-section
    .monitoring-wrapper-parent
    .monitoring-sidebar
    .sidebar-wrapper {
    width: 400px !important;
}
#monitoring-section .monitoring-wrapper-parent .monitoring-sidebar {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
}
#monitoring-section
    .monitoring-wrapper-parent
    .monitoring-sidebar-sticky-badge.active {
    transform: rotate(-90deg) translate(calc(-27% - 24px), -110%);
}
#monitoring-section
    .monitoring-wrapper-parent
    .monitoring-sidebar-button-collapse {
    top: 36px;
}

/* scrollbar-y sidebar style */
div.user-lists {
    scrollbar-width: thin;
    scrollbar-color: grey white;
}
div.user-lists::-webkit-scrollbar {
    width: 0px; /* width of the entire scrollbar */
}
div.user-lists::-webkit-scrollbar-track {
    background: white; /* color of the tracking area */
}
div.user-lists::-webkit-scrollbar-thumb {
    background-color: grey; /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
    /* border: 3px solid orange;  creates padding around scroll thumb */
}

/* avatar width */
.img-avatar {
    width: 40px;
    height: 40px;
}
.car {
    box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.1);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-color: white !important;
}

/* search form */
form {
    display: flex;
    justify-content: center;
    align-items: center;
}
input[type="search"] {
    border: none;
    background: transparent;
    margin: 0;
    padding: 7px 0px;
    font-size: 12px;
    color: inherit;
    border: 1px solid transparent;
    border-radius: 10px;
}
input[type="search"]::placeholder {
    color: #bbb;
}
input[type="search"]:focus {
    box-shadow: 0 0 3px 0 #c2c2c2;
    border: 1.5px solid #404040;
    outline: none;
}
form.nosubmit {
    border: none;
    padding: 0;
    width: 100%;
}
input.nosubmit {
    border: 1px solid #c2c2c2;
    border-radius: 6px;
    width: 100%;
    height: 36px;
    padding: 9px 4px 9px 40px;
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: left;
    background-position-x: 10px;
}

input.nosubmit:hover {
    border: 1px solid #404040;
}

/* button map side-left */
.btn-map {
    box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.1) !important;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-color: white !important;
}
.btn-zoom {
    box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.1) !important;
    width: 32px;
    height: 90px;
    background-color: white !important;
    border-radius: 4px;
    margin-right: 5px;
}
.btn-zoom-list {
    background-color: white;
    border: none;
}
#monitoring-section
    .monitoring-wrapper-parent
    .monitoring-right-content
    .monitoring-maps-navigation {
    height: 60%;
    padding-top: 16px;
    padding-right: 16px;
}

/* tab activities */

button#pills-fleet-tab.nav-link {
    background-image: url("../../assets/img/misc/fleet.png") !important;
}
button#pills-fleet-tab.nav-link.active {
    background-image: url("../../assets/img/misc/fleet-activated.png") !important;
}

button#pills-activities-tab.nav-link {
    background-image: url("../../assets/img/misc/activation.png") !important;
}
button#pills-activities-tab.nav-link.active {
    background-image: url("../../assets/img/misc/activities.png") !important;
}

.hr-line{
    width: 24px; 
    border: 1px thin black;
}

.head-title{
    font-weight: 700;
    padding-left: 24px;
    padding-bottom: 10px;
}

.sidenav {
    height: 100%;
    width: 236px;
    position: fixed;
    z-index: 99;
    top: 36;
    left: 0;
    background-color: #F5F5F5;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav-wrapper{
    padding-top: 32px;
}

.sidenav button.tabbutton {
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    color: #818181;
    display: block;
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    transform: translateX(-5px);
}

.sidenav button.tabbutton:hover {
    color: #0073E5;
}

.sidenav button.tabbutton:focus {
    color: #0073E5;
}

.sidenav-menu{
    padding-top: 16px;
}

.main-content{
    margin-left: 236px;
    font-size: 16px;
    padding: 0px 10px;
    overflow-x: hidden;
}

.main-title{
    margin-top: 35px;
    margin-left: 24px;
    font-weight: 600;
    font-size: 26px;
}

.sub-title{
    margin-left: 24px;
}

.icon-back {
    margin-top: 50px;
    margin-left: 24px;
}

.main-tab-menu{
    padding-top: 21px;
    padding-left: 24px;
    padding-right: 24px;
}

.detail-order {
    width: 100%;
    height: 44px;
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    padding: 10px;
    color: #0A0A0A;
    font-size: 16px;
}

.note-review {
    padding: 20px 12px;
}

.detail-order.review {
    height: 116px;
}

.title-note {
    width: 51px;
    font-size: 14px;
    font-style: italic;
}

.body-note {
    width: 430px;
    font-size: 14px;
}

.detail-order-fleet {
    width: 100%;
    height: auto;
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    padding: 16px;
    color: #0A0A0A;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
}

.plat-text {
    margin-left: 12px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.plat-text .plat-fleet-id {
    color: #757575;
    font-weight: 500;
    font-size: 12px;
}

.plat-text .plat-stnk-id span{
    color: #757575;
    font-weight: 400;
    font-size: 16px;
}

.plat-text .plat-number {
    color: #0A0A0A;
    font-weight: 400;
    font-size: 16px;
}

.plat-id-line {
    width: 378px;
    border: 1px solid #E0E0E0;
}

.caption-img-lists {
    text-align: center;
    display: flex;
    justify-content: center;
    transform: translateY(51px);
    color: #FFFFFF;
}

.detail-order:hover {
    border: 1px solid #404040;
}

.detail-tab-label {
    font-weight: 500;
    font-size: 14px;
    color: #0A0A0A;
}

.labels-review {
    width: 83px;
    height: 24px;
    padding: 4px 12px;
    border: 1px solid #E0E0E0;
    border-radius: 100px;
    background: #F5F5F5;
    font-weight: 500;
    font-size: 12px;
    color: #0A0A0A;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
}

#body-tab {
    overflow-y: auto;
    height: 585px;
    padding-bottom: 30px;
}

#body-tab-fleet {
    overflow-y: auto;
    height: 442px;
    padding-bottom: 30px;
}

.nav-tabs,
.nav-tabs-fleet {
    margin-bottom: 20px;
}

.nav-link-fleet {
    border: 1px solid #E0E0E0;
    border-radius: 100px;
    background: #FFFFFF;
    padding: 8px 16px;
    font-weight: 500;
    font-size: 14px;
    color: #757575;
}

.nav-link-fleet:hover {
    border: 1px solid #0073E6;
    color: #0073E6;
    background: rgba(0, 115, 230, 0.2);
}

.nav-link-fleet.active {
    border: 1px solid #0073E6;
    border-radius: 100px;
    background: rgba(0, 115, 230, 0.2);
    padding: 8px 16px;
    font-weight: 500;
    font-size: 14px;
    color: #0073E6;
}

#sim-number:hover,
#gps-number:hover,
#gps-cd-number:hover,
#customer-name:hover {
    background-image: url("../img/misc/edit.png");
    background-repeat: no-repeat;
    background-position: right 14px bottom 11px;
    cursor: pointer;
    border: 1px solid #0A0A0A;
}

.detail-order.mm-cargo {
    background-image: url("../img/misc/mm.png");
    background-repeat: no-repeat;
    background-position: right 3px bottom 3px;
}

.detail-order.kgs-cargo {
    background-image: url("../img/misc/kgs.png");
    background-repeat: no-repeat;
    background-position: right 3px bottom 3px;
}

.detail-order.m3-cargo {
    background-image: url("../img/misc/m3.png");
    background-repeat: no-repeat;
    background-position: right 3px bottom 3px;
}

.datepicker-form {
    padding-left: 44px;
    padding-top: 12px;
}

.user-info-dropdown .selectize-dropdown-content {
    transform: none;
    width: 100%;
}

.selectize-input.focus > .item{
    margin-left: 20px;
}

.selectize-control .selectize-input.disabled {
    opacity: unset;
}

.item {
    color: #0A0A0A;
    font-size: 16px !important;
}

#user-info-description-address {
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    padding: 0.375rem 0.75rem;
    font-size: 16px;
    color: #0a0a0a;
}

#user-info-description-address:hover {
    border: 1px solid #404040;
}

.textarea-noresize {
    width: 100%;
    resize: none;
    height: 68px;
}

.map-cdt {
    width: 100%;
    height: 84%;
    border: 1px solid #CFCFCF;
    box-sizing: border-box;
    border-radius: 4px;
    background: url('../img/maps-btn/wo-user-map.png');
}

.src-map {
    position: relative;
    top: 0;
    padding: 10px;
    height: 28px;
  }

input.inp-map {
    padding-left: 6px;
    font-weight: 400;
    font-size: 12px;
    color: #757575;
    width: 253px;
}

.set-map {
    position: relative;
    top: 128px;
    padding: 10px;
    display: flex;
    justify-content: end;
    height: 50px;
}

.set-map-at {
    position: relative;
    top: 100px;
    right: 30em;
    padding: 10px;
    display: flex;
    justify-content: end;
    height: 50px;
}

button.btn-form-map {
    /* width: 70px; */
    height: 24px;
    background: #FFFFFF;
    border-radius: 4px;
    border: 1px solid #0073E6;
    font-weight: 600;
    font-size: 10px;
    color: #0073E6;
    padding: 4px;
}

.datepicker-image {
    margin-top: 14px;
    margin-left: 1em;
}

.form-control:valid {
    border: 1px solid #E0E0E0 !important;
}

.form-control:disabled, .form-control[readonly] {
    background-color: #FFFFFF;
    opacity: unset;
}

.img-lists-fleet {
    width: 116px;
    height: 84px;
    background: url('../img/misc/img-truck.png');
}

.img-lists-fleet.plat-id {
    width: 116px;
    height: 84px;
    background: url('../img/misc/plat-nomor.png');
}

.img-lists-fleet.number-id {
    width: 116px;
    height: 84px;
    background: url('../img/misc/engine-number.png');
}

.img-lists-fleet.chassis-id {
    width: 116px;
    height: 84px;
    background: url('../img/misc/chassis-number.png');
}

.img-lists-fleet.stnk-id {
    width: 116px;
    height: 84px;
    background: url('../img/misc/stnk-fleet.png');
}

.img-lists-fleet.kir-id {
    width: 116px;
    height: 84px;
    background: url('../img/misc/kir-fleet.png');
}

.img-lists-fleet.instalasi-id {
    width: 116px;
    height: 84px;
    background: url('../img/misc/bukti-instalasi.png');
}

.bottom-content {
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 1;
    bottom: 0;
    left: 0;
    background-color: #F5F5F5;
    overflow-x: hidden;
    background: #FFFFFF;
    margin-left: 118px;
    box-shadow: -1px -1px 1px rgba(0, 0, 0, 0.12);
}

.btn-bottom {
    /* padding: 16px 216px; */
    display: flex;
    justify-content: center;
}

.btn-back {
    margin-right: 43em;
    margin-top: 10px;
}

button.back-style {
    border-radius: 4px;
    background: #FFFFFF;
    padding: 12px 24px;
    font-weight: 500;
    font-size: 16px;
}

button.next-style {
    background: #E0E0E0;
    border-radius: 4px;
    padding: 12px 24px;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
}

.info-icon {
    margin-top: -5px;
}

.close-sc-co {
    background: none;
    border: none;
    padding: 0;
    margin-top: -4px;
    margin-left: 12px;
}

.success-close-order {
    position: absolute;
    z-index: 1000;
    top: 8em;
    left: 35em;
    width: 540px;
    height: 56px;
    padding: 16px;
    border: 1px solid #E0E0E0;
    border-radius: 6px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-weight: 400;
    font-size: 16px;
}