/* inline to external */
/* body{
  background-image: url("../../assets/img/map4.png"); 
  background-size:cover ;
} */

ul.profile-style{
  right: 2px; 
  left: auto !important;
}
input.bg-icon-search{
  background-image: url("../../assets/img/misc/search-icon.png") !important;
}
.mt8{
  margin-top: -8px;
}
input.hidden{
  visibility: hidden;
}
.pr-0{
  padding-right: 0px;
}
.pl-25{
  padding-left: 25px;
}
.mt-42{
  margin-top: 42px;
}
.font-20{
  font-size: 20px;
}
.mb-8{
  margin-bottom: 8px;
}
.mt-12{
  margin-top: 12px;
}
.bg-button-route{
  background-color: #C2C2C2; 
  color: white;
}

/* fix pixel (perfect pixel)*/
#monitoring-section
  .monitoring-wrapper-parent
  .monitoring-sidebar
  .sidebar-wrapper
  .sidebar-tab {
  height: calc(88% - 16px);
}
#monitoring-section
  .monitoring-wrapper-parent
  .monitoring-sidebar
  .sidebar-wrapper
  .sidebar-tab
  .sidebar-tab-content
  .sidebar-tab-item.active {
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
  padding-top: 17px;
}
#monitoring-section
  .monitoring-wrapper-parent
  .monitoring-right-content
  .monitoring-maps-navigation
  .maps-navigation-button-wrapper
  button:not(:last-child) {
  margin-bottom: 12px;
}
.p-user-list {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 8px;
  padding-right: 8px;
}
.user-lists {
  overflow-y: scroll;
}
.user-item-right {
  padding-left: 8px;
}
.user-item-left {
  padding: 0;
  width: 40px;
}
#monitoring-section
.monitoring-wrapper-parent
.monitoring-sidebar
.sidebar-wrapper
.sidebar-tab
.sidebar-tab-button
button.fleet {
  /* icon tab fleet */
  background-position-x: 60px;
}
#monitoring-section
.monitoring-wrapper-parent
.monitoring-sidebar
.sidebar-wrapper
.sidebar-tab
.sidebar-tab-button
button.activities {
  /* icon tab activities */
  background-position-x: 43px
}
.font-26 {
  font-size: 26px;
}
.font-12 {
  font-size: 12px;
}

/* list-item */
#monitoring-section
  .monitoring-wrapper-parent
  .monitoring-sidebar
  .sidebar-wrapper
  .sidebar-tab
  .sidebar-tab-content
  .sidebar-tab-item
  .sidebar-tab-item-content {
  padding-top: 8px;
  overflow: hidden;
}
.user-item {
  border-bottom: 0.5px solid #c2c2c2;
}
a.text-dark:link {
  text-decoration: none;
}
.user-item:hover {
  background-color: #e5e5e5;
  cursor: pointer;
}

/* style side-left */
#monitoring-section
  .monitoring-wrapper-parent
  .monitoring-sidebar
  .sidebar-wrapper {
  width: 400px !important;
}
#monitoring-section .monitoring-wrapper-parent .monitoring-sidebar {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
}
#monitoring-section
  .monitoring-wrapper-parent
  .monitoring-sidebar-sticky-badge.active {
  transform: rotate(-90deg) translate(calc(-27% - 24px), -110%);
}
#monitoring-section
  .monitoring-wrapper-parent
  .monitoring-sidebar-button-collapse {
  top: 36px;
}

/* scrollbar-y sidebar style */
div.user-lists {
  scrollbar-width: thin;
  scrollbar-color: grey white;
}
div.user-lists::-webkit-scrollbar {
  width: 0px; /* width of the entire scrollbar */
}
div.user-lists::-webkit-scrollbar-track {
  background: white; /* color of the tracking area */
}
div.user-lists::-webkit-scrollbar-thumb {
  background-color: grey; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  /* border: 3px solid orange;  creates padding around scroll thumb */
}

/* avatar width */
.img-avatar {
  width: 40px;
  height: 40px;
}
.car {
  box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.1);
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background-color: white !important;
}

/* search form */
form {
  display: flex;
  justify-content: center;
  align-items: center;
}
input[type="search"] {
  border: none;
  background: transparent;
  margin: 0;
  padding: 7px 0px;
  font-size: 12px;
  color: inherit;
  border: 1px solid transparent;
  border-radius: 10px;
}
input[type="search"]::placeholder {
  color: #bbb;
}
input[type="search"]:focus {
  box-shadow: 0 0 3px 0 #c2c2c2;
  border: 1.5px solid #404040;
  outline: none;
}
form.nosubmit {
  border: none;
  padding: 0;
  width: 100%;
}
input.nosubmit {
  border: 1px solid #c2c2c2;
  border-radius: 6px;
  width: 100%;
  height: 36px;
  padding: 9px 4px 9px 40px;
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: left;
  background-position-x: 10px;
}

input.nosubmit:hover {
  border: 1px solid #404040;
}

/* button map side-left */
.btn-map {
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.1) !important;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background-color: white !important;
}
.btn-zoom {
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.1) !important;
  width: 32px;
  height: 90px;
  background-color: white !important;
  border-radius: 4px;
  margin-right: 5px;
}
.btn-zoom-list {
  background-color: white;
  border: none;
}
#monitoring-section
  .monitoring-wrapper-parent
  .monitoring-right-content
  .monitoring-maps-navigation {
  height: 60%;
  padding-top: 16px;
  padding-right: 16px;
}

/* tab activities */

button#pills-fleet-tab.nav-link {
  background-image: url("../../assets/img/misc/fleet.png") !important;
}
button#pills-fleet-tab.nav-link.active {
  background-image: url("../../assets/img/misc/fleet-activated.png") !important;
}

button#pills-activities-tab.nav-link {
  background-image: url("../../assets/img/misc/activation.png") !important;
}
button#pills-activities-tab.nav-link.active {
  background-image: url("../../assets/img/misc/activities.png") !important;
}

.hr-line{
  width: 24px; 
  border: 1px thin black;
}


.head-title{
  font-weight: 700;
  padding-left: 24px;
  padding-bottom: 10px;
}

.sidenav {
  height: 100%;
  width: 236px;
  position: fixed;
  z-index: 1;
  top: 36;
  left: 0;
  background-color: #F5F5F5;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav-wrapper{
  padding-top: 32px;
}

.sidenav button.tabbutton {
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  color: #818181;
  display: block;
  background: none;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  transform: translateX(-5px);
}

.sidenav button.tabbutton:hover {
  color: #0073E5;
}

.sidenav button.tabbutton:focus {
  color: #0073E5;
}

.sidenav-menu{
  padding-top: 16px;
}

.main-content{
  margin-left: 236px;
  font-size: 16px;
  padding: 0px 10px;
  overflow-x: hidden;
}

.main-title{
  margin-top: 50px;
  margin-left: 24px;
  font-weight: 600;
  font-size: 26px;
}

.main-tab-menu{
  padding-top: 32px;
  padding-left: 24px;
  padding-right: 24px;
}

/* Table Styling */
#measurement-table_wrapper>div:nth-child(1)>div:nth-child(1) a:hover {
  background-color: #007bff25;
  border: 1px solid #007bff;
  color: #007bff !important;
}

.dataTable thead tr th {
  font-weight: 600 !important;
  font-size: 16px !important;
  width: 136px;
  overflow: hidden;
  color : black;  
  border-radius: 4px;
  line-height: 50px;
}

.dataTable thead{
  height: 50px;
  /* z-index: -1; */
  position: relative;
}

.tabletitle{
  font-weight: 500 !important;
  font-size: 16px !important;
}


#measurement-table tbody tr td {
  padding-top: 24px;
  padding-bottom: 16px;
  font-weight: 400 !important;
  font-size: 14px !important;
}


#measurement-table tbody tr:hover {
  background-color: #f5f5f5;
}

#measurement-table tbody tr td:nth-child(8) button, 
#measurement-table tbody tr td:nth-child(9) button {
  visibility: hidden;
}

#measurement-table tbody tr:hover td:nth-child(8) button,
#measurement-table tbody tr:hover td:nth-child(9) button {
  visibility: visible;
}


.dataTables_filter{
  padding-top: 20px;
  transform: translateX(128%);
}
/* .dataTables_length{
  padding-top: 20px;
} */

.table-wrapping{
  border: 1px #C2C2C2 solid;
  border-radius: 4px;
}