/* layout desktop width 1440px */
/* @media screen and (min-width: 1440px) and (max-width: 1480px)  {
    #monitoring-section .monitoring-wrapper-parent .monitoring-right-content .monitoring-bottom-info .bottom-info
    {
        transform: translateY(calc(100% - 188.8px));
    }    
    .h-resp
    {
        height: 76.7%;
    }
    #monitoring-section .monitoring-wrapper-parent .monitoring-right-content .monitoring-bottom-info .bottom-info-button-collapse
    {
        top: calc(100% - 304px);
    }
    #monitoring-section .monitoring-wrapper-parent .monitoring-right-content .monitoring-bottom-info .bottom-info.minimize
    {
        transform: translateY(calc(100% + 112px));
    }
    .h-map
    {
        height: 165px;
    }
    .hg-fit
    {
        height: fit-content;
    }
    .size-map
    {
        width: 248px;
        height: 116px;
    }
} */